openapi: 3.1.0
info:
  title: Clemta Partner API
  description: |
    The Clemta partner surface. Authenticate with your API key as a bearer
    token (`Authorization: Bearer clmt_live_` or `clmt_test_`). Keys with
    the `clmt_test_` prefix operate in sandbox mode (`livemode: false`): test
    data never reaches fulfillment or billing.

    Versioning is date-based: pass `Clemta-Version` to pin a
    version, omit it to run on your account's pinned default. The effective
    version is echoed back on every response.
  version: '2026-08-13'
servers:
  - url: https://api.clemta.com/v1
    description: |
      Single host for both modes: `clmt_test_` keys operate in sandbox mode, `clmt_live_` keys in live mode.
security:
  - apiKey: []
tags:
  - name: Identity
    description: Identify the calling API key.
  - name: Accounts
    description: Create and read customer accounts - the incorporators companies are created under.
  - name: Companies
    description: Create and read client companies.
  - name: Service orders
    description: Order services against a company and follow their fulfilment.
  - name: Products
    description: The catalog you can offer, at your wholesale prices.
  - name: Tax filings
    description: Federal and state tax filings on your companies, opened by your client against the company's entitlements and worked by Clemta. Read-only. Follow them with the tax_filing.* events.
  - name: Files
    description: Documents Clemta publishes on your companies - formation deliverables, filed forms, letters. Read-only. Client KYC uploads are write-only and never listed.
  - name: Requirements
    description: Everything needed from you or your client - identity documents, service-order forms, Clemta's asks - as one resolvable resource. Fulfill over the API or hand your client a hosted link.
  - name: Status tracking
    description: End-customer status links - keyless, read-only access to a company's live status.
  - name: Events
    description: Poll the partner event stream.
  - name: Webhooks
    description: |-
      Events we deliver to your endpoint, and how to verify them. Each webhook below is a request WE send to you. Respond 2xx to acknowledge. Deliveries are signed and retried with exponential backoff over multiple days until acknowledged. Answer `410 Gone` to have the endpoint disabled and deliveries stopped. A `Retry-After` header on a `429` or `503` pushes the next attempt back. An endpoint that fails continuously for days is disabled automatically and the workspace owner is emailed - no events are lost, the stream stays available on `GET /v1/events`.

      ## Verifying a delivery

      Deliveries are signed per the [Standard Webhooks](https://www.standardwebhooks.com) specification, carrying BOTH schemes in one header: a symmetric `v1` HMAC (verify with your endpoint secret and any standardwebhooks library) and an asymmetric `v1a` ed25519 signature (verify with the endpoint's public key, no shared secret held). Use whichever suits your setup.

      Every endpoint has its OWN signing secret (`whsec_...`), shown once when you create the endpoint. Each delivery carries three headers:

      - `Clemta-Webhook-Id` - the event id. Stable across retries: use it as an idempotency key so a redelivered event is processed once.
      - `Clemta-Webhook-Timestamp` - unix seconds of THIS attempt (a retry carries a fresh one).
      - `Clemta-Webhook-Signature` - a space-delimited list of `v1,<base64>` signatures. More than one while a secret rotation's overlap window is open, one per active secret.

      Each is also sent under its bare Standard Webhooks name (`webhook-id`, `webhook-timestamp`, `webhook-signature`) with the same value, which is what off-the-shelf standardwebhooks libraries look up.

      To verify by hand:

      1. Build the signed content by joining the id, the timestamp, and the raw request body with literal `.` separators: `{id}.{timestamp}.{body}`. Use the body exactly as received - do not re-serialize the JSON.
      2. Base64-decode your endpoint secret after the `whsec_` prefix. That is the HMAC key.
      3. Compute HMAC-SHA256 over the signed content, base64 encode it, and compare it against each `v1,` entry in constant time. Accept if any matches, otherwise reject.
      4. Check the timestamp is within 5 minutes of now, to reject replays.

      Because the secret is unique to your endpoint, a signature can only be verified by you - a delivery meant for another endpoint cannot be made to verify here. Keep the secret confidential. If it leaks, roll the endpoint's secret from the Webhooks page of your partner dashboard.
  - name: Sandbox
    description: Test-key-only endpoints for rehearsing event flows. Trigger a lifecycle transition on a test company and receive the matching webhook, without waiting for a real formation to progress.
paths:
  /me:
    get:
      tags:
        - Identity
      operationId: getMe
      summary: Identify the calling API key
      description: Returns the partner and mode the presented key resolves to.
      parameters:
        - $ref: '#/components/parameters/ClemtaVersion'
      responses:
        '200':
          description: The caller's identity.
          headers:
            Clemta-Version:
              $ref: '#/components/headers/ClemtaVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Me'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
      x-mint:
        href: /api-reference/get-me
  /accounts:
    post:
      tags:
        - Accounts
      operationId: createAccount
      summary: Create an account for a customer
      description: Creates an account - one of your end customers - that companies are then created under. The customer receives no messages from Clemta. Pass `Idempotency-Key` to make retries safe.
      parameters:
        - $ref: '#/components/parameters/ClemtaVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAccountBody'
      responses:
        '201':
          description: The created account.
          headers:
            Clemta-Version:
              $ref: '#/components/headers/ClemtaVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/RateLimited'
      x-mint:
        href: /api-reference/create-account
    get:
      tags:
        - Accounts
      operationId: listAccounts
      summary: List your accounts - sortable, cursor-paged
      parameters:
        - $ref: '#/components/parameters/Sort'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/After'
        - $ref: '#/components/parameters/Before'
      responses:
        '200':
          description: One page of accounts, newest first by default.
          headers:
            Clemta-Version:
              $ref: '#/components/headers/ClemtaVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
      description: Your accounts, newest first. Sortable by `created_at`.
      x-mint:
        href: /api-reference/list-accounts
  /accounts/{accountID}:
    get:
      tags:
        - Accounts
      operationId: getAccount
      summary: Fetch an account
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/ClemtaVersion'
      responses:
        '200':
          description: The account.
          headers:
            Clemta-Version:
              $ref: '#/components/headers/ClemtaVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
      x-mint:
        href: /api-reference/get-account
    post:
      tags:
        - Accounts
      operationId: updateAccount
      summary: Update an account's metadata
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/ClemtaVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAccountBody'
      responses:
        '200':
          description: The updated account.
          headers:
            Clemta-Version:
              $ref: '#/components/headers/ClemtaVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
      x-mint:
        href: /api-reference/update-account
  /companies:
    post:
      tags:
        - Companies
      operationId: createCompany
      summary: Create a client company
      description: Creates a client user and a company shell attributed to you. The client receives no messages from Clemta. Pass `Idempotency-Key` to make retries safe.
      parameters:
        - $ref: '#/components/parameters/ClemtaVersion'
        - $ref: '#/components/parameters/ClemtaAccount'
        - $ref: '#/components/parameters/ExpandCompany'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCompanyBody'
      responses:
        '201':
          description: The created company.
          headers:
            Clemta-Version:
              $ref: '#/components/headers/ClemtaVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/RateLimited'
      x-mint:
        href: /api-reference/create-company
    get:
      tags:
        - Companies
      operationId: listCompanies
      summary: List your companies - filterable, sortable, cursor-paged
      parameters:
        - $ref: '#/components/parameters/Status'
        - $ref: '#/components/parameters/AccountIdFilter'
        - $ref: '#/components/parameters/ExpandCompany'
        - $ref: '#/components/parameters/Sort'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/After'
        - $ref: '#/components/parameters/Before'
      responses:
        '200':
          description: One page of companies, newest first by default.
          headers:
            Clemta-Version:
              $ref: '#/components/headers/ClemtaVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
      description: Sort by `created_at` or `name`. Filter by any company field, `external_id` and `state` included.
      x-mint:
        href: /api-reference/list-companies
  /companies/{companyID}:
    get:
      tags:
        - Companies
      operationId: getCompany
      summary: Retrieve a company
      parameters:
        - $ref: '#/components/parameters/CompanyId'
        - $ref: '#/components/parameters/ClemtaVersion'
        - $ref: '#/components/parameters/ExpandCompany'
      responses:
        '200':
          description: The company.
          headers:
            Clemta-Version:
              $ref: '#/components/headers/ClemtaVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
      x-mint:
        href: /api-reference/get-company
    post:
      tags:
        - Companies
      operationId: updateCompany
      summary: Update a company
      parameters:
        - $ref: '#/components/parameters/CompanyId'
        - $ref: '#/components/parameters/ClemtaVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCompanyBody'
      responses:
        '200':
          description: The updated company.
          headers:
            Clemta-Version:
              $ref: '#/components/headers/ClemtaVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
      x-mint:
        href: /api-reference/update-company
  /companies/{companyID}/service-orders:
    post:
      tags:
        - Service orders
      operationId: createServiceOrder
      summary: Attach a service to a company
      description: Orders a product against the company and bills you for it at creation, at your wholesale price. Idempotent - re-attaching the same product returns the existing order and does not bill you twice. Pass `Idempotency-Key` for safe retries.
      parameters:
        - $ref: '#/components/parameters/CompanyId'
        - $ref: '#/components/parameters/ClemtaVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateServiceOrderBody'
      responses:
        '201':
          description: The service order.
          headers:
            Clemta-Version:
              $ref: '#/components/headers/ClemtaVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceOrder'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/RateLimited'
      x-mint:
        href: /api-reference/create-service-order
    get:
      tags:
        - Service orders
      operationId: listServiceOrders
      summary: List a company's service orders
      parameters:
        - $ref: '#/components/parameters/CompanyId'
        - $ref: '#/components/parameters/ClemtaVersion'
      responses:
        '200':
          description: The company's service orders, newest first.
          headers:
            Clemta-Version:
              $ref: '#/components/headers/ClemtaVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceOrderList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
      x-mint:
        href: /api-reference/list-service-orders
  /companies/{companyID}/service-orders/{orderID}:
    get:
      tags:
        - Service orders
      operationId: getServiceOrder
      summary: Retrieve a service order
      parameters:
        - $ref: '#/components/parameters/CompanyId'
        - $ref: '#/components/parameters/ServiceOrderId'
        - $ref: '#/components/parameters/ClemtaVersion'
      responses:
        '200':
          description: The service order.
          headers:
            Clemta-Version:
              $ref: '#/components/headers/ClemtaVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceOrder'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
      x-mint:
        href: /api-reference/get-service-order
    post:
      tags:
        - Service orders
      operationId: updateServiceOrder
      summary: Upgrade a service order's options
      description: Changes an in-flight order's variant choices and bills you the price DIFFERENCE - for example moving an `ein` order's `processing` from `standard` to `expedited` after the fact. Only upgrades are accepted (the new choice must not price below the current one), the order must not be completed or canceled, and the product's `available_when` must still hold for the company as it stands now - an ein upgrade is refused once the company's EIN is recorded. One upgrade may stand at a time. Choices that add a companion service attach it automatically.
      parameters:
        - $ref: '#/components/parameters/CompanyId'
        - $ref: '#/components/parameters/ServiceOrderId'
        - $ref: '#/components/parameters/ClemtaVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateServiceOrderBody'
      responses:
        '200':
          description: The upgraded service order, at its new price.
          headers:
            Clemta-Version:
              $ref: '#/components/headers/ClemtaVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceOrder'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/RateLimited'
      x-mint:
        href: /api-reference/update-service-order
    delete:
      tags:
        - Service orders
      operationId: cancelServiceOrder
      summary: Cancel a service order
      description: 'Cancels an order still in `received` and credits back what you were billed. An order already in fulfilment cannot be reversed, but an ACTIVE RECURRING one takes a cancellation REQUEST instead: the call stamps `renewal_cancel_requested_at` and Clemta decides. Renewals keep billing until the request is approved. On approval the service runs to the end of the current period (`renewal_ends_at`) and is not billed again - except a product billed in arrears, whose running period still bills at its end, since it was served. You hear the outcome as `service_order.renewal_canceled` or `service_order.renewal_cancel_denied`. Fulfilment status is untouched. Cancelling again while a request is pending or decided is a no-op. A one-time order in fulfilment is refused with 409.'
      parameters:
        - $ref: '#/components/parameters/CompanyId'
        - $ref: '#/components/parameters/ServiceOrderId'
        - $ref: '#/components/parameters/ClemtaVersion'
      responses:
        '200':
          description: The cancelled service order.
          headers:
            Clemta-Version:
              $ref: '#/components/headers/ClemtaVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceOrder'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/RateLimited'
      x-mint:
        href: /api-reference/cancel-service-order
  /products:
    get:
      tags:
        - Products
      operationId: listProducts
      summary: List the products you can offer, at your prices
      description: Your catalog with your wholesale price on each line - your override where you have one, the default otherwise. These keys are what you pass as `product_key` when you attach a service order.
      parameters:
        - $ref: '#/components/parameters/ClemtaVersion'
      responses:
        '200':
          description: Your catalog.
          headers:
            Clemta-Version:
              $ref: '#/components/headers/ClemtaVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
      x-mint:
        href: /api-reference/list-products
  /products/{productKey}/price-preview:
    get:
      tags:
        - Products
      operationId: previewProductPrice
      summary: Preview every line an order would bill
      description: 'Resolve one product for a company profile BEFORE creating anything: your own amount (override, matching price rule, or default - `applied_rule` says which), each option value''s effective amount, and every pass-through government or state fee line at today''s amounts. Use it to price your own offer with no surprises. The order itself resolves again and freezes what it billed on the order''s `fees`. Formation keys also carry the state''s filing fee.'
      parameters:
        - name: productKey
          in: path
          required: true
          schema:
            type: string
          example: annual_state_filing
        - name: entity_type
          in: query
          required: true
          schema:
            type: string
            enum:
              - llc
              - c_corp
        - name: state
          in: query
          required: true
          schema:
            type: string
            pattern: ^[A-Za-z]{2}$
          description: The company's formation state, as a 2-letter code.
          example: DE
        - name: pre_existing
          in: query
          required: false
          schema:
            type: boolean
          description: Preview for a pre-existing company you bring in. Defaults to false.
        - name: owners_count
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
          description: How many owners the company has. Defaults to 1.
        - name: has_ein
          in: query
          required: false
          schema:
            type: boolean
          description: Whether the company already holds an EIN. A price rule may condition on it, so state it to preview the same amount the order resolves. Defaults to false (a fresh formation).
        - name: incorporated
          in: query
          required: false
          schema:
            type: boolean
          description: Whether the company is already incorporated (holds a formation date). A price rule may condition on it. Defaults to false.
      responses:
        '200':
          description: The resolved preview.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PricePreview'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-mint:
        href: /api-reference/preview-product-price
  /companies/price-preview:
    post:
      tags:
        - Companies
      operationId: previewCompanyBasket
      summary: Preview what creating a company would bill
      description: Resolve the whole basket a company create would charge - the formation with its state filing fee, every mandatory service the profile auto-attaches, and every service you list - WITHOUT creating anything. Priced by the same resolution the create runs, so it cannot quote a total the create does not charge. Each line carries its own interval, and the lines are not summed. Amounts are estimates - the create resolves again and freezes what it billed.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyPricePreviewBody'
      responses:
        '200':
          description: The resolved basket.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyPricePreview'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-mint:
        href: /api-reference/preview-company-basket
  /companies/{companyID}/products/{productKey}/price-preview:
    get:
      tags:
        - Products
      operationId: previewCompanyProductPrice
      summary: Preview a product's price for an existing company
      description: Resolve what a product would bill for THIS company, read from the company's own attributes - no profile query params to state or get wrong. It resolves against the same facts the order does (entity type, state, owner count, whether it holds an EIN, whether it is incorporated), so it cannot quote a price the order would not charge. Returns your own amount (override, matching price rule, or default - `applied_rule` says which), each option value's effective amount, and every pass-through government or state fee line at today's amounts. Use `GET /products/{productKey}/price-preview` instead to price a product for a hypothetical company before one exists.
      parameters:
        - $ref: '#/components/parameters/CompanyId'
        - name: productKey
          in: path
          required: true
          schema:
            type: string
          example: annual_state_filing
      responses:
        '200':
          description: The resolved preview for this company.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PricePreview'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-mint:
        href: /api-reference/preview-company-product-price
  /companies/{companyID}/status-tokens:
    post:
      tags:
        - Status tracking
      operationId: createStatusToken
      summary: Create an end-customer status link
      description: Mints a read-only status link for the company and returns its URL. Hand the URL to your client. Anyone holding it can read the company's live status - progress only, no documents, no personal data, no prices - by calling GET /status/{token}, so you can drive a progress view in your own product without sharing your API key. Multiple links per company are allowed, each individually revocable. The URL is shown once.
      parameters:
        - $ref: '#/components/parameters/CompanyId'
        - $ref: '#/components/parameters/ClemtaVersion'
      responses:
        '201':
          description: The status link, with its URL shown once.
          headers:
            Clemta-Version:
              $ref: '#/components/headers/ClemtaVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusToken'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
      x-mint:
        href: /api-reference/create-status-token
    get:
      tags:
        - Status tracking
      operationId: listStatusTokens
      summary: List a company's status links
      parameters:
        - $ref: '#/components/parameters/CompanyId'
        - $ref: '#/components/parameters/ClemtaVersion'
      responses:
        '200':
          description: The company's status links. The URLs are not returned again.
          headers:
            Clemta-Version:
              $ref: '#/components/headers/ClemtaVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusTokenList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
      x-mint:
        href: /api-reference/list-status-tokens
  /companies/{companyID}/status-tokens/{tokenID}:
    delete:
      tags:
        - Status tracking
      operationId: revokeStatusToken
      summary: Revoke a status link
      description: Kills the link everywhere within seconds.
      parameters:
        - $ref: '#/components/parameters/CompanyId'
        - $ref: '#/components/parameters/StatusTokenId'
        - $ref: '#/components/parameters/ClemtaVersion'
      responses:
        '204':
          description: The link was revoked.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
      x-mint:
        href: /api-reference/revoke-status-token
  /status/{token}:
    get:
      tags:
        - Status tracking
      operationId: getStatus
      summary: Read a company's status by its link token
      description: 'The end customer''s read-only status, resolved from the status token in the path - no API key. Returns only progress as JSON: no documents, no personal data, no prices. Use it to drive a progress view in your own product.'
      parameters:
        - name: token
          in: path
          required: true
          description: The raw status token from the link.
          schema:
            type: string
            minLength: 8
            maxLength: 128
      responses:
        '200':
          description: The company's live status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusView'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
      x-mint:
        href: /api-reference/get-status
  /events:
    get:
      tags:
        - Events
      operationId: listEvents
      summary: List your event stream - newest first, cursor-paged
      parameters:
        - $ref: '#/components/parameters/EventTypeFilter'
        - $ref: '#/components/parameters/EventCompanyIdFilter'
        - $ref: '#/components/parameters/EventCreatedAtFilter'
        - $ref: '#/components/parameters/Sort'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/After'
        - $ref: '#/components/parameters/Before'
      responses:
        '200':
          description: One page of events, newest first by default.
          headers:
            Clemta-Version:
              $ref: '#/components/headers/ClemtaVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
      description: Filter by `type`, `company_id`, or a `created_at` range. Sortable by `created_at`.
      x-mint:
        href: /api-reference/list-events
  /sandbox/companies/{companyID}/simulate:
    post:
      tags:
        - Sandbox
      operationId: createSandboxSimulation
      summary: Simulate an event (test keys only)
      description: Moves a test company - or one of its orders, tax filings or documents - the way a live change would, and delivers the resulting event(s) to your test webhooks. Available only with a test key (`clmt_test_`). A live key is refused. Nothing reaches Clemta. The response is the company afterwards.
      parameters:
        - $ref: '#/components/parameters/CompanyId'
        - $ref: '#/components/parameters/ClemtaVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SandboxSimulateBody'
      responses:
        '200':
          description: The company after the simulated change.
          headers:
            Clemta-Version:
              $ref: '#/components/headers/ClemtaVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: The endpoint is sandbox-only and was called with a live key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
      x-mint:
        href: /api-reference/create-sandbox-simulation
  /clock:
    get:
      tags:
        - Sandbox
      operationId: getClock
      summary: Read your simulation clock
      description: The clock for the calling key's mode, or 404 when none exists. The clock is a sandbox tool - live keys are refused. Use a test key.
      parameters:
        - $ref: '#/components/parameters/ClemtaVersion'
      responses:
        '200':
          description: The clock.
          headers:
            Clemta-Version:
              $ref: '#/components/headers/ClemtaVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Clock'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Live keys cannot use the simulation clock.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
      x-mint:
        href: /api-reference/get-clock
    post:
      tags:
        - Sandbox
      operationId: createClock
      summary: Create your simulation clock
      description: Opens the clock for the calling key's mode, frozen at the real current time. One clock exists per mode, so creating again returns the existing clock unchanged. While the clock exists, advancing it runs the renewals that come due on your companies forward, so you can test recurring billing without waiting for real time. Deleting it returns the mode to real time.
      parameters:
        - $ref: '#/components/parameters/ClemtaVersion'
      responses:
        '200':
          description: The clock - fresh, or the one that already existed.
          headers:
            Clemta-Version:
              $ref: '#/components/headers/ClemtaVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Clock'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Live keys cannot use the simulation clock.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
      x-mint:
        href: /api-reference/create-clock
    delete:
      tags:
        - Sandbox
      operationId: deleteClock
      summary: Delete your simulation clock
      description: Removes the mode's clock. The simulated world returns to real time. Nothing already billed is undone - periods the clock advanced over stay billed, and renewal dates advanced into the future are simply not due yet.
      parameters:
        - $ref: '#/components/parameters/ClemtaVersion'
      responses:
        '204':
          description: The clock is gone.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Live keys cannot use the simulation clock.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
      x-mint:
        href: /api-reference/delete-clock
  /clock/advance:
    post:
      tags:
        - Sandbox
      operationId: advanceClock
      summary: Advance your simulation clock
      description: Moves the mode's simulated time forward to `to` and runs the time-driven machinery up to it. Every renewal period that comes due before that moment bills, so a monthly order advanced a year bills twelve periods at once. Advancing changes nothing about how new records stamp their own times. It only decides how far "due" has looked.
      parameters:
        - $ref: '#/components/parameters/ClemtaVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdvanceClockBody'
      responses:
        '200':
          description: The clock at its new simulated time.
          headers:
            Clemta-Version:
              $ref: '#/components/headers/ClemtaVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Clock'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Live keys cannot use the simulation clock.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/RateLimited'
      x-mint:
        href: /api-reference/advance-clock
  /files:
    post:
      tags:
        - Files
      operationId: createFile
      summary: Upload a file
      description: 'Upload a file to attach elsewhere by id. Send `multipart/form-data` with a `file` part and a `purpose`. `identity_document` uploads are an owner''s passport or government ID: attach one to a `document` requirement (`document` on fulfill) or directly at company create (`shareholders[].passport`). `additional_document` uploads answer a form''s file field: pass the file id as that field''s value on fulfill. Uploads are single-use and write-only - the response carries no download URL and the contents can never be read back through the API. PDF, JPEG or PNG, 10MB max, and images at most 8000px per side. Content is verified against the declared type.'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
                - purpose
              properties:
                file:
                  type: string
                  format: binary
                purpose:
                  type: string
                  enum:
                    - identity_document
                    - formation_document
                    - additional_document
                    - tax_form_1099
                    - business_logo
                    - business_icon
      responses:
        '201':
          description: The uploaded file.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/File'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
      x-mint:
        href: /api-reference/create-file
    get:
      tags:
        - Files
      operationId: listFiles
      summary: List all files
      description: Every file in your account, newest first - Clemta-published deliverables and your own uploads alike. Filter by `purpose`, `source` or `company`.
      parameters:
        - $ref: '#/components/parameters/Sort'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/After'
        - $ref: '#/components/parameters/Before'
      responses:
        '200':
          description: The files, paginated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedFileList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
      x-mint:
        href: /api-reference/list-files
  /companies/{companyID}/files:
    get:
      tags:
        - Files
      operationId: listCompanyFiles
      summary: List a company's documents
      description: Every document Clemta has published on the company, newest first - formation deliverables, filed forms, letters. `file.created` announces each new one.
      parameters:
        - $ref: '#/components/parameters/CompanyId'
      responses:
        '200':
          description: The documents.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileList'
      x-mint:
        href: /api-reference/list-company-files
  /companies/{companyID}/tax-filings:
    post:
      tags:
        - Tax filings
      operationId: createTaxFiling
      summary: Open a tax filing
      description: 'Opens a federal or state filing for the current year. One filing per company, type and year. Identity fields prefill from the company. Opening is free - the filing entitlement is spent when the filing is submitted - so a draft can sit as long as it needs to. Pass `submit: true` with a complete form to open and submit in one atomic call.'
      parameters:
        - $ref: '#/components/parameters/CompanyId'
        - $ref: '#/components/parameters/ClemtaVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTaxFilingBody'
      responses:
        '201':
          description: The filing, with its form and readiness.
          headers:
            Clemta-Version:
              $ref: '#/components/headers/ClemtaVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxFiling'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: No filing entitlement remains for an immediate submit - order the matching entitlement product first, then retry.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: A filing for this type and year already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
      x-mint:
        href: /api-reference/create-tax-filing
    get:
      tags:
        - Tax filings
      operationId: listCompanyTaxFilings
      summary: List a company's tax filings
      description: Every federal and state filing opened on the company, newest year first, with its review status and progress. Filings are opened from the client's against the company's `entitlements`. Read them here.
      parameters:
        - $ref: '#/components/parameters/CompanyId'
      responses:
        '200':
          description: The filings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxFilingList'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
      x-mint:
        href: /api-reference/list-company-tax-filings
  /companies/{companyID}/tax-filings/{filingID}:
    get:
      tags:
        - Tax filings
      operationId: getTaxFiling
      summary: Retrieve a tax filing
      description: The filing with its questionnaire and readiness. The form reads live, so the latest changes are visible immediately.
      parameters:
        - $ref: '#/components/parameters/CompanyId'
        - $ref: '#/components/parameters/TaxFilingId'
        - $ref: '#/components/parameters/ClemtaVersion'
      responses:
        '200':
          description: The filing.
          headers:
            Clemta-Version:
              $ref: '#/components/headers/ClemtaVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxFiling'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
      x-mint:
        href: /api-reference/get-tax-filing
    post:
      tags:
        - Tax filings
      operationId: updateTaxFiling
      summary: Update a tax filing
      description: Replaces the provided form sections on a draft. A section you send replaces the stored one whole, a section you omit stays as it is. Only a draft is editable - after submit, changes go through Clemta.
      parameters:
        - $ref: '#/components/parameters/CompanyId'
        - $ref: '#/components/parameters/TaxFilingId'
        - $ref: '#/components/parameters/ClemtaVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTaxFilingBody'
      responses:
        '200':
          description: The filing after the update, with readiness recomputed.
          headers:
            Clemta-Version:
              $ref: '#/components/headers/ClemtaVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxFiling'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: The filing is no longer a draft.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
      x-mint:
        href: /api-reference/update-tax-filing
  /companies/{companyID}/tax-filings/{filingID}/submit:
    post:
      tags:
        - Tax filings
      operationId: submitTaxFiling
      summary: Submit a tax filing
      description: Submits the filing to Clemta for review. This is the one transactional moment - readiness is checked, one filing entitlement is spent, and the filing moves to `in_review`, all together or not at all. A filing already submitted answers its current state, so a retry is a no-op. With no entitlement remaining the draft stays intact - order the matching entitlement product and retry.
      parameters:
        - $ref: '#/components/parameters/CompanyId'
        - $ref: '#/components/parameters/TaxFilingId'
        - $ref: '#/components/parameters/ClemtaVersion'
      responses:
        '200':
          description: The submitted filing.
          headers:
            Clemta-Version:
              $ref: '#/components/headers/ClemtaVersion'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxFiling'
        '400':
          description: The filing is not ready - `missing` on the detail read names each gap.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: No filing entitlement remains - order the matching entitlement product first, then retry.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
      x-mint:
        href: /api-reference/submit-tax-filing
  /companies/{companyID}/calendar:
    get:
      tags:
        - Calendar
      operationId: listCompanyCalendar
      summary: List a company's compliance calendar
      description: The company's upcoming compliance items - annual report and tax deadlines - soonest first. A `calendar.reminder` webhook fires ahead of each one, so you can notify your client under your own brand. Test-mode companies carry no calendar and answer an empty list.
      parameters:
        - $ref: '#/components/parameters/CompanyId'
      responses:
        '200':
          description: The calendar.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarEventList'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
      x-mint:
        href: /api-reference/list-company-calendar
  /files/{fileID}:
    get:
      tags:
        - Files
      operationId: getFile
      summary: Retrieve a file
      parameters:
        - $ref: '#/components/parameters/FileId'
      responses:
        '200':
          description: The file.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/File'
      x-mint:
        href: /api-reference/get-file
  /file-links:
    post:
      tags:
        - Files
      operationId: createFileLink
      summary: Create a file link
      description: 'Mints a public URL over one of your files: anyone holding the URL can read the contents without authentication, until the link expires. Only shareable files can be linked - Clemta deliverables and branding uploads. A client identity document is refused.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFileLinkBody'
      responses:
        '201':
          description: The link.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileLink'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
      x-mint:
        href: /api-reference/create-file-link
    get:
      tags:
        - Files
      operationId: listFileLinks
      summary: List all file links
      description: Your file links, newest first. Filter by `file`.
      parameters:
        - $ref: '#/components/parameters/Sort'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/After'
        - $ref: '#/components/parameters/Before'
      responses:
        '200':
          description: The links, paginated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedFileLinkList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
      x-mint:
        href: /api-reference/list-file-links
  /file-links/{linkID}:
    get:
      tags:
        - Files
      operationId: getFileLink
      summary: Retrieve a file link
      parameters:
        - $ref: '#/components/parameters/FileLinkId'
      responses:
        '200':
          description: The link.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileLink'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-mint:
        href: /api-reference/get-file-link
    post:
      tags:
        - Files
      operationId: updateFileLink
      summary: Update a file link
      description: Moves the expiry or replaces the metadata. Set `expires_at` to the literal `now` to expire the link immediately - the way to revoke a URL that is already in someone's hands.
      parameters:
        - $ref: '#/components/parameters/FileLinkId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFileLinkBody'
      responses:
        '200':
          description: The link afterwards.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileLink'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-mint:
        href: /api-reference/update-file-link
  /file-links/{token}/contents:
    get:
      tags:
        - Files
      operationId: getFileLinkContents
      summary: Read a file link's contents
      security: []
      description: 'The public door a file link''s `url` points at: streams the file''s bytes with no authentication - the token in the path is the credential. An unknown or expired token answers 404.'
      parameters:
        - name: token
          in: path
          required: true
          description: The link token from the file link's url.
          schema:
            type: string
            pattern: ^flt_[0-9a-f]{48}$
      responses:
        '200':
          description: The file's bytes.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
            application/pdf:
              schema:
                type: string
                format: binary
            image/jpeg:
              schema:
                type: string
                format: binary
            image/png:
              schema:
                type: string
                format: binary
        '404':
          $ref: '#/components/responses/NotFound'
      x-mint:
        href: /api-reference/get-file-link-contents
  /files/{fileID}/contents:
    get:
      tags:
        - Files
      operationId: getFileContent
      summary: Download a file's bytes
      description: Streams the document itself. The response's Content-Type is the file's own. Content-Disposition carries the filename.
      parameters:
        - $ref: '#/components/parameters/FileId'
      responses:
        '200':
          description: The document bytes.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
      x-mint:
        href: /api-reference/get-file-content
  /requirements:
    get:
      tags:
        - Requirements
      operationId: listRequirements
      summary: List requirements
      description: Everything currently (or previously) needed from you, newest first. Filter by company and/or status. Poll `status=open` to see what is outstanding.
      parameters:
        - name: company
          in: query
          required: false
          description: Only this company's requirements.
          schema:
            type: string
            pattern: ^cmp_[0-9A-Za-z]{22}$
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum:
              - open
              - resolved
              - canceled
      responses:
        '200':
          description: The requirements, newest first (at most 100).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequirementList'
      x-mint:
        href: /api-reference/list-requirements
  /requirements/{requirementID}:
    get:
      tags:
        - Requirements
      operationId: getRequirement
      summary: Retrieve a requirement
      description: One requirement. An open `form` requirement carries the live `form` schema - the fields to collect next.
      parameters:
        - $ref: '#/components/parameters/RequirementId'
      responses:
        '200':
          description: The requirement.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Requirement'
      x-mint:
        href: /api-reference/get-requirement
  /requirements/{requirementID}/fulfill:
    post:
      tags:
        - Requirements
      operationId: fulfillRequirement
      summary: Fulfill a requirement
      description: Resolve an open requirement with its answers - a `form`, `name_change` or `information` requirement with `values`, a `document` requirement with an uploaded file by id (`document`, or `documents` for several pages). Emits `requirement.fulfilled`.
      parameters:
        - $ref: '#/components/parameters/RequirementId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FulfillRequirementBody'
      responses:
        '200':
          description: The resolved requirement.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Requirement'
      x-mint:
        href: /api-reference/fulfill-requirement
  /companies/{companyID}/verification-sessions:
    post:
      tags:
        - Requirements
      operationId: createVerificationSession
      summary: Create a hosted verification session
      description: Mints a fresh URL for the hosted identity-document page, for one owner of this company. Live mode only - the hosted page collects a real identity document. Test companies rehearse verification through the sandbox simulate endpoint instead. Requires the verification page to be configured first (your display name and privacy policy - the page presents them to your client). Refused when the owner's document is already received.
      parameters:
        - $ref: '#/components/parameters/CompanyId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVerificationSessionBody'
      responses:
        '201':
          description: The session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificationSession'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
      x-mint:
        href: /api-reference/create-verification-session
  /companies/{companyID}/signing-sessions:
    post:
      tags:
        - Requirements
      operationId: createSigningSession
      summary: Create a hosted signing session
      description: Mints a fresh hosted signing URL for one open signature requirement. Live mode only, and your hosted page must be configured - the page presents your brand and legal links while collecting a signature.
      parameters:
        - $ref: '#/components/parameters/CompanyId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSigningSessionBody'
      responses:
        '201':
          description: The session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SigningSession'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-mint:
        href: /api-reference/create-signing-session
  /companies/{companyID}/signature-signers:
    post:
      tags:
        - Requirements
      operationId: supplySignerEmail
      summary: Supply a signer's email
      description: Provides the email for a deferred signer - one Clemta opened with a name but no email (status `pending_email`). Once every signer on the document has an email, the signing round opens for all of them and you can mint their sessions. Live mode only. The email is not required to be one of the company's owners. A deferred signer is an outside party by design.
      parameters:
        - $ref: '#/components/parameters/CompanyId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SupplySignerEmailBody'
      responses:
        '200':
          description: The signature requirement with the signer's email set.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Requirement'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-mint:
        href: /api-reference/supply-signer-email
  /companies/{companyID}/fixed-assets:
    get:
      tags:
        - Fixed assets
      operationId: listFixedAssets
      summary: List a company's fixed assets
      description: The company's fixed-asset register. The federal tax filing draws from these.
      parameters:
        - $ref: '#/components/parameters/CompanyId'
      responses:
        '200':
          description: The register.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FixedAssetList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-mint:
        href: /api-reference/list-fixed-assets
    post:
      tags:
        - Fixed assets
      operationId: createFixedAsset
      summary: Add a fixed asset
      description: Adds a fixed asset to the company's register. It is assigned the next `AST-` number. A later federal tax filing snapshots the register, so an asset added here reaches the filing.
      parameters:
        - $ref: '#/components/parameters/CompanyId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFixedAssetBody'
      responses:
        '201':
          description: The created asset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FixedAsset'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-mint:
        href: /api-reference/create-fixed-asset
  /companies/{companyID}/fixed-assets/{fixedAssetID}:
    get:
      tags:
        - Fixed assets
      operationId: getFixedAsset
      summary: Retrieve a fixed asset
      parameters:
        - $ref: '#/components/parameters/CompanyId'
        - $ref: '#/components/parameters/FixedAssetId'
      responses:
        '200':
          description: The asset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FixedAsset'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-mint:
        href: /api-reference/get-fixed-asset
    post:
      tags:
        - Fixed assets
      operationId: updateFixedAsset
      summary: Update a fixed asset
      description: Sparse update - a field left out is unchanged.
      parameters:
        - $ref: '#/components/parameters/CompanyId'
        - $ref: '#/components/parameters/FixedAssetId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFixedAssetBody'
      responses:
        '200':
          description: The updated asset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FixedAsset'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-mint:
        href: /api-reference/update-fixed-asset
    delete:
      tags:
        - Fixed assets
      operationId: deleteFixedAsset
      summary: Delete a fixed asset
      parameters:
        - $ref: '#/components/parameters/CompanyId'
        - $ref: '#/components/parameters/FixedAssetId'
      responses:
        '204':
          description: Deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-mint:
        href: /api-reference/delete-fixed-asset
  /companies/{companyID}/officers:
    get:
      tags:
        - Officers
      operationId: listOfficers
      summary: List a company's officers and directors
      description: The company's management roster. A director is an officer holding role `director`. There is no separate directors list.
      parameters:
        - $ref: '#/components/parameters/CompanyId'
      responses:
        '200':
          description: The roster.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfficerList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-mint:
        href: /api-reference/list-officers
    post:
      tags:
        - Officers
      operationId: createOfficer
      summary: Add an officer or director
      description: Seats an officer on the company's roster with the roles given. An officer whose `email` matches a shareholder's is seated as that owner. For a company already handed off to Clemta, the change reaches Clemta. The roles are validated against the entity type (LLC vs C-Corp catalogues).
      parameters:
        - $ref: '#/components/parameters/CompanyId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOfficerBody'
      responses:
        '201':
          description: The seated officer.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyOfficer'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-mint:
        href: /api-reference/create-officer
  /companies/{companyID}/officers/{officerID}:
    post:
      tags:
        - Officers
      operationId: updateOfficer
      summary: Update an officer or director
      description: Replaces the officer's roles and identity. Send the full desired state. The roles are validated against the entity type.
      parameters:
        - $ref: '#/components/parameters/CompanyId'
        - $ref: '#/components/parameters/OfficerId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOfficerBody'
      responses:
        '200':
          description: The updated officer.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyOfficer'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-mint:
        href: /api-reference/update-officer
    delete:
      tags:
        - Officers
      operationId: deleteOfficer
      summary: Remove an officer or director
      description: Removes the officer from the roster.
      parameters:
        - $ref: '#/components/parameters/CompanyId'
        - $ref: '#/components/parameters/OfficerId'
      responses:
        '204':
          description: Removed.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-mint:
        href: /api-reference/delete-officer
  /signing-links/{token}:
    get:
      tags:
        - Requirements
      operationId: getSigningLinkContext
      summary: Read a signing link
      security: []
      description: What the hosted signing page renders - the ask, the partner's branding and the embedded signing session. Authenticated by the token itself, no API key. The signature itself completes inside the embedded session. The requirement resolves once the signature completes, and the page only ever reads.
      parameters:
        - $ref: '#/components/parameters/RequirementToken'
      responses:
        '200':
          description: The context.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SigningContext'
        '404':
          $ref: '#/components/responses/NotFound'
      x-mint:
        href: /api-reference/get-signing-link-context
  /requirement-links/{token}:
    get:
      tags:
        - Requirements
      operationId: getRequirementLinkContext
      summary: Read a hosted link's context
      security: []
      description: 'What the hosted page renders: what is asked and of whom, plus your hosted-page branding. Authenticated by the token itself - no API key.'
      parameters:
        - $ref: '#/components/parameters/RequirementToken'
      responses:
        '200':
          description: The context.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequirementContext'
        '404':
          $ref: '#/components/responses/NotFound'
      x-mint:
        href: /api-reference/get-requirement-link-context
  /requirement-links/{token}/document:
    put:
      tags:
        - Requirements
      operationId: putRequirementLinkDocument
      summary: Upload the document set through a hosted link
      security: []
      description: |-
        The hosted page's upload: the link URL itself is the credential - a time-limited, single-purpose capability, no API key. Send the COMPLETE document set in one request: `multipart/form-data` with one part per page (a two-sided ID is two parts), or the raw bytes of a single file with its Content-Type. The request itself is completeness - there is no add-another-page call.
        Validation: PDF, JPEG and PNG only, at most 10 MB per file, at most 2 files, and the bytes must actually be the format the Content-Type declares (file signatures are checked) - a mislabeled file is refused with `invalid_request`.
      parameters:
        - $ref: '#/components/parameters/RequirementToken'
        - name: filename
          in: query
          required: false
          description: The filename, when the body is raw bytes rather than multipart.
          schema:
            type: string
            maxLength: 256
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                files:
                  type: array
                  items:
                    type: string
                    format: binary
          application/pdf:
            schema:
              type: string
              format: binary
          image/jpeg:
            schema:
              type: string
              format: binary
          image/png:
            schema:
              type: string
              format: binary
      responses:
        '200':
          description: The context afterwards - resolved when the set completes the ask.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequirementContext'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
      x-mint:
        href: /api-reference/put-requirement-link-document
webhooks:
  company.created:
    post:
      tags:
        - Webhooks
      operationId: onCompanyCreated
      summary: A company was created
      description: 'Sent to your configured endpoint when a company is created through the API, in either mode (a `clmt_test_` key''s events carry `livemode: false`). The request body is the `event` resource. Fetch the company it names for its current state. Verify the `Clemta-Webhook-Signature` header with your endpoint''s signing secret before trusting the payload, and respond with any 2xx to acknowledge - a non-2xx or a timeout is retried with backoff.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Event'
      responses:
        '200':
          description: Acknowledged. Any 2xx marks the delivery received and stops retries.
      x-mint:
        href: /api-reference/webhooks/company-created
  company.status.changed:
    post:
      tags:
        - Webhooks
      operationId: onCompanyStatusChanged
      summary: A company's formation status changed
      description: Sent when a company moves between formation states. The request body is the `event` resource. Branch on the company's status after fetching it rather than on the event type alone. Verify the `Clemta-Webhook-Signature` header before trusting the payload, and respond with any 2xx to acknowledge - a non-2xx or a timeout is retried with backoff.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Event'
      responses:
        '200':
          description: Acknowledged. Any 2xx marks the delivery received and stops retries.
      x-mint:
        href: /api-reference/webhooks/company-status-changed
  company.verified:
    post:
      tags:
        - Webhooks
      operationId: onCompanyVerified
      summary: A company's owners cleared verification
      description: Sent once, when the last owner's identity document lands and the company is ready for formation - well before incorporation (which has its own event, `company.incorporated`). Verification never regresses. The request body is the `event` resource. Verify the `Clemta-Webhook-Signature` header before trusting the payload, and respond with any 2xx to acknowledge - a non-2xx or a timeout is retried with backoff.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Event'
      responses:
        '200':
          description: Acknowledged. Any 2xx marks the delivery received and stops retries.
      x-mint:
        href: /api-reference/webhooks/company-verified
  company.incorporated:
    post:
      tags:
        - Webhooks
      operationId: onCompanyIncorporated
      summary: A company was incorporated
      description: Sent once, when the state accepts the filing and the company becomes active - the milestone to tell your client about. `company.status.changed` fires as well. This event exists so the moment is a single, unmistakable signal. The request body is the `event` resource. Verify the `Clemta-Webhook-Signature` header before trusting the payload, and respond with any 2xx to acknowledge - a non-2xx or a timeout is retried with backoff.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Event'
      responses:
        '200':
          description: Acknowledged. Any 2xx marks the delivery received and stops retries.
      x-mint:
        href: /api-reference/webhooks/company-incorporated
  company.onboarding.completed:
    post:
      tags:
        - Webhooks
      operationId: onCompanyOnboardingCompleted
      summary: A pre-existing company is fully onboarded
      description: Sent once, when Clemta finishes taking a pre_existing company onto the platform - the moment a newly formed company would instead announce `company.incorporated`. A company incorporated years before it arrived never fires the incorporation event. This is its counterpart milestone. `data.object` is the company. Verify the `Clemta-Webhook-Signature` header before trusting the payload, and respond with any 2xx to acknowledge.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Event'
      responses:
        '200':
          description: Acknowledged. Any 2xx marks the delivery received and stops retries.
      x-mint:
        href: /api-reference/webhooks/company-onboarding-completed
  company.name.changed:
    post:
      tags:
        - Webhooks
      operationId: onCompanyNameChanged
      summary: A company's legal name changed
      description: Sent when Clemta changes the company's legal name - typically to clear a conflict with the state. The payload carries the new name. Update your own records and tell your client. The request body is the `event` resource. Verify the `Clemta-Webhook-Signature` header before trusting the payload, and respond with any 2xx to acknowledge - a non-2xx or a timeout is retried with backoff.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Event'
      responses:
        '200':
          description: Acknowledged. Any 2xx marks the delivery received and stops retries.
      x-mint:
        href: /api-reference/webhooks/company-name-changed
  company.ein.assigned:
    post:
      tags:
        - Webhooks
      operationId: onCompanyEinAssigned
      summary: A company received its EIN
      description: Sent once, when the IRS issues the company's federal tax id and Clemta records it. The payload carries `ein`. The request body is the `event` resource. Verify the `Clemta-Webhook-Signature` header before trusting the payload, and respond with any 2xx to acknowledge - a non-2xx or a timeout is retried with backoff.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Event'
      responses:
        '200':
          description: Acknowledged. Any 2xx marks the delivery received and stops retries.
      x-mint:
        href: /api-reference/webhooks/company-ein-assigned
  company.document.received:
    post:
      tags:
        - Webhooks
      operationId: onCompanyDocumentReceived
      summary: An owner's identity document was received
      description: Sent when an individual owner uploads their identity document. The request body is the `event` resource. Fetch the company it names to see which owners are still outstanding. When the last document lands, the company also emits `company.status.changed`. Verify the `Clemta-Webhook-Signature` header before trusting the payload, and respond with any 2xx to acknowledge - a non-2xx or a timeout is retried with backoff.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Event'
      responses:
        '200':
          description: Acknowledged. Any 2xx marks the delivery received and stops retries.
      x-mint:
        href: /api-reference/webhooks/company-document-received
  company.dissolved:
    post:
      tags:
        - Webhooks
      operationId: onCompanyDissolved
      summary: The company was dissolved
      description: Sent exactly once, when a dissolution order completes and the company reaches its terminal `dissolved` status. Every recurring service on the company stops renewing at that moment, open requirements are closed, and nothing further can be ordered to it. The request body is the `event` resource, whose `data.object` is the company as of the dissolution. Verify the `Clemta-Webhook-Signature` header before trusting the payload, and respond with any 2xx to acknowledge.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Event'
      responses:
        '200':
          description: Acknowledged. Any 2xx marks the delivery received and stops retries.
      x-mint:
        href: /api-reference/webhooks/company-dissolved
  company.updated:
    post:
      tags:
        - Webhooks
      operationId: onCompanyUpdated
      summary: A company's details changed
      description: Sent when Clemta edits the company's identity - entity type, state, industry, share structure, formation date, legal address or the owner roster. `data.object` is the company as it now stands. Verify the `Clemta-Webhook-Signature` header before trusting the payload.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Event'
      responses:
        '200':
          description: Acknowledged. Any 2xx marks the delivery received and stops retries.
      x-mint:
        href: /api-reference/webhooks/company-updated
  company.entitlements.changed:
    post:
      tags:
        - Webhooks
      operationId: onCompanyEntitlementsChanged
      summary: A company's remaining rights changed
      description: Sent when the company's `entitlements` move - a tax-filing credit added by an order or by Clemta, or consumed by a filing. `data.object` is the company with its current `entitlements`. Verify the `Clemta-Webhook-Signature` header before trusting the payload, and respond with any 2xx to acknowledge.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Event'
      responses:
        '200':
          description: Acknowledged. Any 2xx marks the delivery received and stops retries.
      x-mint:
        href: /api-reference/webhooks/company-entitlements-changed
  tax_filing.created:
    post:
      tags:
        - Webhooks
      operationId: onTaxFilingCreated
      summary: A tax filing was opened
      description: Sent when a federal or state tax filing is opened on the company. `data.object` is the tax filing. Verify the `Clemta-Webhook-Signature` header before trusting the payload, and respond with any 2xx to acknowledge.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Event'
      responses:
        '200':
          description: Acknowledged. Any 2xx marks the delivery received and stops retries.
      x-mint:
        href: /api-reference/webhooks/tax-filing-created
  tax_filing.status.changed:
    post:
      tags:
        - Webhooks
      operationId: onTaxFilingStatusChanged
      summary: A tax filing moved
      description: Sent when Clemta moves a tax filing's `status` or `progress`. `data.object` is the tax filing as of the change. Branch on its fields. Verify the `Clemta-Webhook-Signature` header before trusting the payload, and respond with any 2xx to acknowledge.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Event'
      responses:
        '200':
          description: Acknowledged. Any 2xx marks the delivery received and stops retries.
      x-mint:
        href: /api-reference/webhooks/tax-filing-status-changed
  service_order.status.changed:
    post:
      tags:
        - Webhooks
      operationId: onServiceOrderStatusChanged
      summary: A service order's status changed
      description: Sent when a service order is created or its fulfilment status changes, including cancellation. The request body is the `event` resource, whose `data.object` is the service order as of the change. Branch on its status rather than on the event type alone. Verify the `Clemta-Webhook-Signature` header before trusting the payload, and respond with any 2xx to acknowledge - a non-2xx or a timeout is retried with backoff.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Event'
      responses:
        '200':
          description: Acknowledged. Any 2xx marks the delivery received and stops retries.
      x-mint:
        href: /api-reference/webhooks/service-order-status-changed
  service_order.completed:
    post:
      tags:
        - Webhooks
      operationId: onServiceOrderCompleted
      summary: A service order was fulfilled
      description: Sent exactly once per order, the first time it reaches `completed` - `completed_at` is set then and never cleared, and a later status echo does not repeat it. The request body is the `event` resource, whose `data.object` is the completed service order. Verify the `Clemta-Webhook-Signature` header before trusting the payload, and respond with any 2xx to acknowledge - a non-2xx or a timeout is retried with backoff.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Event'
      responses:
        '200':
          description: Acknowledged. Any 2xx marks the delivery received and stops retries.
      x-mint:
        href: /api-reference/webhooks/service-order-completed
  service_order.updated:
    post:
      tags:
        - Webhooks
      operationId: onServiceOrderUpdated
      summary: A service order was changed outside your own call
      description: 'Sent when an order''s options or price change without you calling - today, Clemta reversing an options upgrade it could not deliver: the difference you were billed is credited back and the order returns to its previous choices and price. The request body is the `event` resource, whose `data.object` is the order as of the change. Verify the `Clemta-Webhook-Signature` header before trusting the payload, and respond with any 2xx to acknowledge - a non-2xx or a timeout is retried with backoff.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Event'
      responses:
        '200':
          description: Acknowledged. Any 2xx marks the delivery received and stops retries.
      x-mint:
        href: /api-reference/webhooks/service-order-updated
  service_order.quoted:
    post:
      tags:
        - Webhooks
      operationId: onServiceOrderQuoted
      summary: Clemta priced a quote order
      description: 'Sent when Clemta set the price on a quote_pending order - a product priced per piece of work, such as catch-up bookkeeping. The request body is the `event` resource, whose `data.object` is the service order carrying its `quote` object: the amount, and `expires_at`, the acceptance window. Accept with `accept_quote: true` on the order update endpoint before the window lapses. Nothing is billed until you do, and cancelling the order declines the quote. Verify the `Clemta-Webhook-Signature` header before trusting the payload, and respond with any 2xx to acknowledge.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Event'
      responses:
        '200':
          description: Acknowledged. Any 2xx marks the delivery received and stops retries.
      x-mint:
        href: /api-reference/webhooks/service-order-quoted
  service_order.renewal_canceled:
    post:
      tags:
        - Webhooks
      operationId: onServiceOrderRenewalCanceled
      summary: A renewal cancellation was approved
      description: Sent when Clemta approves your cancellation request on a recurring order. The service runs to `renewal_ends_at` and is not billed past it - except a product billed in arrears, whose running period still bills at that moment, since it was served. The request body is the `event` resource, whose `data.object` is the service order as of the approval. Verify the `Clemta-Webhook-Signature` header before trusting the payload, and respond with any 2xx to acknowledge - a non-2xx or a timeout is retried with backoff.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Event'
      responses:
        '200':
          description: Acknowledged. Any 2xx marks the delivery received and stops retries.
      x-mint:
        href: /api-reference/webhooks/service-order-renewal-canceled
  service_order.renewal_cancel_denied:
    post:
      tags:
        - Webhooks
      operationId: onServiceOrderRenewalCancelDenied
      summary: A renewal cancellation was denied
      description: Sent when Clemta denies your cancellation request on a recurring order. The request is cleared and the order keeps renewing as before - contact support for the reasoning. The request body is the `event` resource, whose `data.object` is the service order as of the decision. Verify the `Clemta-Webhook-Signature` header before trusting the payload, and respond with any 2xx to acknowledge - a non-2xx or a timeout is retried with backoff.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Event'
      responses:
        '200':
          description: Acknowledged. Any 2xx marks the delivery received and stops retries.
      x-mint:
        href: /api-reference/webhooks/service-order-renewal-cancel-denied
  requirement.created:
    post:
      tags:
        - Webhooks
      operationId: onRequirementCreated
      summary: Something is needed from you or your client
      description: 'Sent when a requirement opens: an owner''s identity document, a service-order form, or something Clemta asked for (a company-name change, extra information). The request body is the `event` resource whose `data.object` is the requirement. Fulfill it over the API or hand your client a hosted link. Verify the `Clemta-Webhook-Signature` header before trusting the payload, and respond with any 2xx to acknowledge.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Event'
      responses:
        '200':
          description: Acknowledged. Any 2xx marks the delivery received and stops retries.
      x-mint:
        href: /api-reference/webhooks/requirement-created
  requirement.fulfilled:
    post:
      tags:
        - Webhooks
      operationId: onRequirementFulfilled
      summary: A requirement was fulfilled
      description: Sent when an open requirement resolves - by your API call or by your client through a hosted link. The request body is the `event` resource whose `data.object` is the requirement with its response. Verify the `Clemta-Webhook-Signature` header before trusting the payload, and respond with any 2xx to acknowledge.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Event'
      responses:
        '200':
          description: Acknowledged. Any 2xx marks the delivery received and stops retries.
      x-mint:
        href: /api-reference/webhooks/requirement-fulfilled
  requirement.canceled:
    post:
      tags:
        - Webhooks
      operationId: onRequirementCanceled
      summary: A requirement was canceled
      description: Sent when an open requirement closes WITHOUT being fulfilled - a signer declining a signature request, or Clemta withdrawing the ask. The request body is the `event` resource whose `data.object` is the requirement. Its `cancel_reason` says why, in words safe to show your client. Verify the `Clemta-Webhook-Signature` header before trusting the payload, and respond with any 2xx to acknowledge.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Event'
      responses:
        '200':
          description: Acknowledged. Any 2xx marks the delivery received and stops retries.
      x-mint:
        href: /api-reference/webhooks/requirement-canceled
  requirement.signature.viewed:
    post:
      tags:
        - Webhooks
      operationId: onRequirementSignatureViewed
      summary: A signer opened a signature document
      description: Sent the first time a signer opens the signature document. A requirement with several signers fires this once per signer. The request body is the `event` resource whose `data.object` is the requirement with its `signers`. Progress only - the document is not signed yet. Verify the `Clemta-Webhook-Signature` header before trusting the payload, and respond with any 2xx to acknowledge.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Event'
      responses:
        '200':
          description: Acknowledged. Any 2xx marks the delivery received and stops retries.
      x-mint:
        href: /api-reference/webhooks/requirement-signature-viewed
  requirement.signature.signed:
    post:
      tags:
        - Webhooks
      operationId: onRequirementSignatureSigned
      summary: A signer signed a signature document
      description: Sent when one signer completes their part of a signature document. A document with several signers fires this once per signer. The requirement itself resolves (requirement.fulfilled) only when the last of them signs. The request body is the `event` resource whose `data.object` is the requirement with its `signers`. Verify the `Clemta-Webhook-Signature` header before trusting the payload, and respond with any 2xx to acknowledge.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Event'
      responses:
        '200':
          description: Acknowledged. Any 2xx marks the delivery received and stops retries.
      x-mint:
        href: /api-reference/webhooks/requirement-signature-signed
  file.created:
    post:
      tags:
        - Webhooks
      operationId: onFileCreated
      summary: A document is ready for you
      description: Sent when Clemta publishes a document on one of your companies. The request body is the `event` resource whose `data.object` is the file. Download the bytes from the file's content endpoint. Verify the `Clemta-Webhook-Signature` header before trusting the payload, and respond with any 2xx to acknowledge.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Event'
      responses:
        '200':
          description: Acknowledged. Any 2xx marks the delivery received and stops retries.
      x-mint:
        href: /api-reference/webhooks/file-created
  calendar.reminder:
    post:
      tags:
        - Webhooks
      operationId: onCalendarReminder
      summary: A compliance deadline is approaching
      description: Sent ahead of a company's compliance calendar deadline, once per reminder point. No mail is sent to your client - relay the reminder under your own brand. `data.object` is the calendar event with `due_at` and the `remind_at` that fired. Verify the `Clemta-Webhook-Signature` header before trusting the payload, and respond with any 2xx to acknowledge.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Event'
      responses:
        '200':
          description: Acknowledged. Any 2xx marks the delivery received and stops retries.
      x-mint:
        href: /api-reference/webhooks/calendar-reminder
  invoice.finalized:
    post:
      tags:
        - Webhooks
      operationId: onInvoiceFinalized
      summary: A wholesale invoice was finalized
      description: Sent when your month-end wholesale invoice is raised. The request body is the `event` resource, whose `data.object` is the invoice. It is collected automatically from your payment method on file. Verify the `Clemta-Webhook-Signature` header before trusting the payload, and respond with any 2xx to acknowledge - a non-2xx or a timeout is retried with backoff.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Event'
      responses:
        '200':
          description: Acknowledged. Any 2xx marks the delivery received and stops retries.
      x-mint:
        href: /api-reference/webhooks/invoice-finalized
components:
  securitySchemes:
    apiKey:
      type: http
      scheme: bearer
      description: |
        Your API key, e.g. `Authorization: Bearer clmt_test_`. Live keys use the `clmt_live_` prefix.
  parameters:
    ClemtaVersion:
      name: Clemta-Version
      in: header
      required: false
      description: Date-based API version to run this request against.
      schema:
        type: string
        example: '2026-08-13'
    Sort:
      name: sort
      in: query
      required: false
      description: Comma-separated fields to sort by, a minus prefix for descending (for example `-created_at`). Each endpoint's sortable fields are in its description; an unsupported one is rejected with a suggestion.
      schema:
        type: string
        example: '-created_at,name'
    Limit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
    After:
      name: after
      in: query
      required: false
[...]
