{
  "openapi": "3.0.3",
  "info": {
    "title": "Clemta Formation API",
    "description": "API for company formation services. This API allows partners to create, retrieve, and manage company formations programmatically.",
    "version": "2025-06-24",
    "contact": {
      "name": "Clemta API Support",
      "email": "tech@clemta.com"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://clemta.com/terms"
    }
  },
  "servers": [
    {
      "url": "https://api.clemta.com",
      "description": "Production server"
    },
    {
      "url": "https://sandbox.clemta.com",
      "description": "Sandbox server"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/formations": {
      "post": {
        "summary": "Create Company Formation",
        "description": "Creates a new company formation with the provided details. Requires multipart/form-data with company_data JSON and optional shareholder passport files.",
        "operationId": "createFormation",
        "tags": ["Formation"],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["company_data"],
                "properties": {
                  "company_data": {
                    "type": "string",
                    "description": "JSON string containing company formation details",
                    "example": "{\"name\":\"Example Corp\",\"type\":\"LLC\",\"state\":\"DE\",\"ending\":\"LLC\",\"industry\":\"Technology\",\"address\":{\"address1\":\"123 Main St\",\"city\":\"Wilmington\",\"state\":\"DE\",\"zip\":\"19801\",\"country\":\"US\"},\"shareholders\":[{\"type\":\"individual\",\"first_name\":\"John\",\"last_name\":\"Doe\",\"number_of_shares\":100,\"email\":\"john@example.com\",\"phone\":\"+1234567890\",\"iso_code\":\"US\",\"title\":\"CEO\",\"address\":{\"address1\":\"123 Main St\",\"city\":\"Wilmington\",\"state\":\"DE\",\"zip\":\"19801\",\"country\":\"US\"},\"is_main_incorporator\":true,\"ssn\":\"123456789\"}],\"timezone\":\"America/New_York\",\"account_holder\":{\"first_name\":\"John\",\"last_name\":\"Doe\",\"email\":\"john@example.com\",\"phone\":\"+1234567890\"},\"package\":\"essential\"}"
                  },
                  "shareholder_passport_0": {
                    "type": "string",
                    "format": "binary",
                    "description": "Passport file for individual shareholder at index 0 (PDF, JPG, JPEG, PNG)"
                  }
                },
                "additionalProperties": {
                  "oneOf": [
                    {
                      "type": "string",
                      "format": "binary",
                      "description": "Additional shareholder passport files (shareholder_passport_1, shareholder_passport_2, etc.)"
                    }
                  ]
                }
              },
              "encoding": {
                "company_data": {
                  "contentType": "application/json"
                },
                "shareholder_passport_0": {
                  "contentType": "application/pdf, image/jpeg, image/png"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Formation created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "409": {
            "description": "Conflict - External ID already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConflictError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Number of requests remaining in the current window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp when the rate limit resets",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/formations/{id}": {
      "get": {
        "summary": "Get Formation Status",
        "description": "Retrieves the current status and details of a company formation. The ID can be either the company ID or the external ID provided during creation.",
        "operationId": "getFormation",
        "tags": ["Formation"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Company ID (ObjectID) or External ID",
            "schema": {
              "type": "string",
              "maxLength": 64,
              "example": "64b8f1a2e4b0c8d9f0123456"
            }
          },
          {
            "name": "If-Modified-Since",
            "in": "header",
            "required": false,
            "description": "HTTP conditional request header for caching",
            "schema": {
              "type": "string",
              "format": "http-date",
              "example": "Wed, 21 Oct 2015 07:28:00 GMT"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Formation details retrieved successfully",
            "headers": {
              "Last-Modified": {
                "description": "Last modification time of the formation",
                "schema": {
                  "type": "string",
                  "format": "http-date"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormationStatusResponse"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified - Formation has not been updated since the time specified in If-Modified-Since header"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied to this formation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "Formation not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Number of requests remaining in the current window",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp when the rate limit resets",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Cancel Formation",
        "description": "Cancels a company formation. The ID can be either the company ID or the external ID provided during creation.",
        "operationId": "cancelFormation",
        "tags": ["Formation"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Company ID (ObjectID) or External ID",
            "schema": {
              "type": "string",
              "maxLength": 64,
              "example": "64b8f1a2e4b0c8d9f0123456"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Formation cancelled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Formation not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/contacts": {
      "post": {
        "summary": "Create Contact",
        "description": "Creates a new contact for a company",
        "operationId": "createContact",
        "tags": ["Contacts"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateContactRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactCreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Company not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Get Contacts",
        "description": "Retrieves a list of contacts for a company with optional filtering and pagination",
        "operationId": "getContacts",
        "tags": ["Contacts"],
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "required": true,
            "description": "Company ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "description": "Number of records to skip",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of records to return",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Search term",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort field",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "description": "Sort order (asc/desc)",
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"]
            }
          },
          {
            "name": "created_at",
            "in": "query",
            "required": false,
            "description": "Created at filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "created_at_value",
            "in": "query",
            "required": false,
            "description": "Created at value",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "End date filter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contacts retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Company not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/contacts/{contact_id}": {
      "get": {
        "summary": "Get Contact by ID",
        "description": "Retrieves a specific contact by its ID",
        "operationId": "getContactById",
        "tags": ["Contacts"],
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "required": true,
            "description": "Contact ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactGetResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Contact not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactNotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update Contact",
        "description": "Updates an existing contact",
        "operationId": "updateContact",
        "tags": ["Contacts"],
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "required": true,
            "description": "Contact ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateContactRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactUpdateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Contact not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactNotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete Contact",
        "description": "Deletes a contact",
        "operationId": "deleteContact",
        "tags": ["Contacts"],
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "required": true,
            "description": "Contact ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactDeleteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Contact not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactNotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/fixed-assets": {
      "post": {
        "summary": "Create Fixed Asset",
        "description": "Creates a new fixed asset for a company",
        "operationId": "createFixedAsset",
        "tags": ["Fixed Assets"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFixedAssetRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Fixed asset created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FixedAssetCreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Company not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Get Fixed Assets",
        "description": "Retrieves a list of fixed assets for a company with optional filtering and pagination",
        "operationId": "getFixedAssets",
        "tags": ["Fixed Assets"],
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "required": true,
            "description": "Company ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "description": "Number of records to skip",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of records to return",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Search term",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort field",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "description": "Sort order (asc/desc)",
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"]
            }
          },
          {
            "name": "fixed_asset_number",
            "in": "query",
            "required": false,
            "description": "Fixed asset number filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fixed_asset_number_value",
            "in": "query",
            "required": false,
            "description": "Fixed asset number value",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "title",
            "in": "query",
            "required": false,
            "description": "Title filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "title_value",
            "in": "query",
            "required": false,
            "description": "Title value",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "placed_in_service",
            "in": "query",
            "required": false,
            "description": "Placed in service filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "placed_in_service_value",
            "in": "query",
            "required": false,
            "description": "Placed in service value (timestamp)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_placed_in_service_value",
            "in": "query",
            "required": false,
            "description": "End placed in service value (timestamp)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cost",
            "in": "query",
            "required": false,
            "description": "Cost filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cost_value",
            "in": "query",
            "required": false,
            "description": "Cost value",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_cost_value",
            "in": "query",
            "required": false,
            "description": "End cost value",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "salvage_value",
            "in": "query",
            "required": false,
            "description": "Salvage value filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "salvage_value_value",
            "in": "query",
            "required": false,
            "description": "Salvage value",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_salvage_value",
            "in": "query",
            "required": false,
            "description": "End salvage value",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "business_use",
            "in": "query",
            "required": false,
            "description": "Business use filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "business_use_value",
            "in": "query",
            "required": false,
            "description": "Business use value",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_business_use_value",
            "in": "query",
            "required": false,
            "description": "End business use value",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "created_at",
            "in": "query",
            "required": false,
            "description": "Created at filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "created_at_value",
            "in": "query",
            "required": false,
            "description": "Created at value (timestamp)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "End date value (timestamp)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fixed assets retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FixedAssetListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Company not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/fixed-assets/{fixed_asset_id}": {
      "get": {
        "summary": "Get Fixed Asset by ID",
        "description": "Retrieves a specific fixed asset by its ID",
        "operationId": "getFixedAssetById",
        "tags": ["Fixed Assets"],
        "parameters": [
          {
            "name": "fixed_asset_id",
            "in": "path",
            "required": true,
            "description": "Fixed Asset ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fixed asset retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FixedAssetGetResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Fixed asset not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FixedAssetNotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update Fixed Asset",
        "description": "Updates an existing fixed asset",
        "operationId": "updateFixedAsset",
        "tags": ["Fixed Assets"],
        "parameters": [
          {
            "name": "fixed_asset_id",
            "in": "path",
            "required": true,
            "description": "Fixed Asset ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFixedAssetRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Fixed asset updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FixedAssetUpdateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Fixed asset not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FixedAssetNotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete Fixed Asset",
        "description": "Deletes a fixed asset",
        "operationId": "deleteFixedAsset",
        "tags": ["Fixed Assets"],
        "parameters": [
          {
            "name": "fixed_asset_id",
            "in": "path",
            "required": true,
            "description": "Fixed Asset ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fixed asset deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FixedAssetDeleteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Fixed asset not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FixedAssetNotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Formation API key for authentication."
      }
    },
    "schemas": {
      "FormationRequest": {
        "type": "object",
        "required": [
          "name",
          "type",
          "state",
          "ending",
          "industry",
          "address",
          "shareholders",
          "timezone",
          "account_holder"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Company name",
            "example": "Example Corp"
          },
          "type": {
            "type": "string",
            "enum": ["LLC", "C-CORP"],
            "description": "Company type"
          },
          "state": {
            "type": "string",
            "enum": [
              "AL",
              "AK",
              "AZ",
              "AR",
              "CA",
              "CO",
              "CT",
              "DE",
              "FL",
              "GA",
              "HI",
              "ID",
              "IL",
              "IN",
              "IA",
              "KS",
              "KY",
              "LA",
              "ME",
              "MD",
              "MA",
              "MI",
              "MN",
              "MS",
              "MO",
              "MT",
              "NE",
              "NV",
              "NH",
              "NJ",
              "NM",
              "NY",
              "NC",
              "ND",
              "OH",
              "OK",
              "OR",
              "PA",
              "RI",
              "SC",
              "SD",
              "TN",
              "TX",
              "UT",
              "VT",
              "VA",
              "WA",
              "WV",
              "WI",
              "WY"
            ],
            "description": "State abbreviation"
          },
          "ending": {
            "type": "string",
            "enum": ["LLC", "Inc.", "Corporation", "Corp."],
            "description": "Company ending"
          },
          "industry": {
            "type": "string",
            "description": "Industry type",
            "example": "Technology"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "shareholders": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FormationShareholderRequest"
            },
            "minItems": 1,
            "description": "List of shareholders"
          },
          "timezone": {
            "type": "string",
            "description": "Company timezone",
            "example": "America/New_York",
            "enum": [
              "Africa/Abidjan",
              "Africa/Accra",
              "Africa/Addis_Ababa",
              "Africa/Algiers",
              "Africa/Asmera",
              "Africa/Bamako",
              "Africa/Bangui",
              "Africa/Banjul",
              "Africa/Bissau",
              "Africa/Blantyre",
              "Africa/Brazzaville",
              "Africa/Bujumbura",
              "Africa/Cairo",
              "Africa/Casablanca",
              "Africa/Ceuta",
              "Africa/Conakry",
              "Africa/Dakar",
              "Africa/Dar_es_Salaam",
              "Africa/Djibouti",
              "Africa/Douala",
              "Africa/El_Aaiun",
              "Africa/Freetown",
              "Africa/Gaborone",
              "Africa/Harare",
              "Africa/Johannesburg",
              "Africa/Juba",
              "Africa/Kampala",
              "Africa/Khartoum",
              "Africa/Kigali",
              "Africa/Kinshasa",
              "Africa/Lagos",
              "Africa/Libreville",
              "Africa/Lome",
              "Africa/Luanda",
              "Africa/Lubumbashi",
              "Africa/Lusaka",
              "Africa/Malabo",
              "Africa/Maputo",
              "Africa/Maseru",
              "Africa/Mbabane",
              "Africa/Mogadishu",
              "Africa/Monrovia",
              "Africa/Nairobi",
              "Africa/Ndjamena",
              "Africa/Niamey",
              "Africa/Nouakchott",
              "Africa/Ouagadougou",
              "Africa/Porto-Novo",
              "Africa/Sao_Tome",
              "Africa/Tripoli",
              "Africa/Tunis",
              "Africa/Windhoek",
              "America/Adak",
              "America/Anchorage",
              "America/Anguilla",
              "America/Antigua",
              "America/Araguaina",
              "America/Argentina/La_Rioja",
              "America/Argentina/Rio_Gallegos",
              "America/Argentina/Salta",
              "America/Argentina/San_Juan",
              "America/Argentina/San_Luis",
              "America/Argentina/Tucuman",
              "America/Argentina/Ushuaia",
              "America/Aruba",
              "America/Asuncion",
              "America/Bahia",
              "America/Bahia_Banderas",
              "America/Barbados",
              "America/Belem",
              "America/Belize",
              "America/Blanc-Sablon",
              "America/Boa_Vista",
              "America/Bogota",
              "America/Boise",
              "America/Buenos_Aires",
              "America/Cambridge_Bay",
              "America/Campo_Grande",
              "America/Cancun",
              "America/Caracas",
              "America/Catamarca",
              "America/Cayenne",
              "America/Cayman",
              "America/Chicago",
              "America/Chihuahua",
              "America/Ciudad_Juarez",
              "America/Coral_Harbour",
              "America/Cordoba",
              "America/Costa_Rica",
              "America/Creston",
              "America/Cuiaba",
              "America/Curacao",
              "America/Danmarkshavn",
              "America/Dawson",
              "America/Dawson_Creek",
              "America/Denver",
              "America/Detroit",
              "America/Dominica",
              "America/Edmonton",
              "America/Eirunepe",
              "America/El_Salvador",
              "America/Fort_Nelson",
              "America/Fortaleza",
              "America/Glace_Bay",
              "America/Godthab",
              "America/Goose_Bay",
              "America/Grand_Turk",
              "America/Grenada",
              "America/Guadeloupe",
              "America/Guatemala",
              "America/Guayaquil",
              "America/Guyana",
              "America/Halifax",
              "America/Havana",
              "America/Hermosillo",
              "America/Indiana/Knox",
              "America/Indiana/Marengo",
              "America/Indiana/Petersburg",
              "America/Indiana/Tell_City",
              "America/Indiana/Vevay",
              "America/Indiana/Vincennes",
              "America/Indiana/Winamac",
              "America/Indianapolis",
              "America/Inuvik",
              "America/Iqaluit",
              "America/Jamaica",
              "America/Jujuy",
              "America/Juneau",
              "America/Kentucky/Monticello",
              "America/Kralendijk",
              "America/La_Paz",
              "America/Lima",
              "America/Los_Angeles",
              "America/Louisville",
              "America/Lower_Princes",
              "America/Maceio",
              "America/Managua",
              "America/Manaus",
              "America/Marigot",
              "America/Martinique",
              "America/Matamoros",
              "America/Mazatlan",
              "America/Mendoza",
              "America/Menominee",
              "America/Merida",
              "America/Metlakatla",
              "America/Mexico_City",
              "America/Miquelon",
              "America/Moncton",
              "America/Monterrey",
              "America/Montevideo",
              "America/Montserrat",
              "America/Nassau",
              "America/New_York",
              "America/Nome",
              "America/Noronha",
              "America/North_Dakota/Beulah",
              "America/North_Dakota/Center",
              "America/North_Dakota/New_Salem",
              "America/Ojinaga",
              "America/Panama",
              "America/Paramaribo",
              "America/Phoenix",
              "America/Port-au-Prince",
              "America/Port_of_Spain",
              "America/Porto_Velho",
              "America/Puerto_Rico",
              "America/Punta_Arenas",
              "America/Rankin_Inlet",
              "America/Recife",
              "America/Regina",
              "America/Resolute",
              "America/Rio_Branco",
              "America/Santarem",
              "America/Santiago",
              "America/Santo_Domingo",
              "America/Sao_Paulo",
              "America/Scoresbysund",
              "America/Sitka",
              "America/St_Barthelemy",
              "America/St_Johns",
              "America/St_Kitts",
              "America/St_Lucia",
              "America/St_Thomas",
              "America/St_Vincent",
              "America/Swift_Current",
              "America/Tegucigalpa",
              "America/Thule",
              "America/Tijuana",
              "America/Toronto",
              "America/Tortola",
              "America/Vancouver",
              "America/Whitehorse",
              "America/Winnipeg",
              "America/Yakutat",
              "Antarctica/Casey",
              "Antarctica/Davis",
              "Antarctica/DumontDUrville",
              "Antarctica/Macquarie",
              "Antarctica/Mawson",
              "Antarctica/McMurdo",
              "Antarctica/Palmer",
              "Antarctica/Rothera",
              "Antarctica/Syowa",
              "Antarctica/Troll",
              "Antarctica/Vostok",
              "Arctic/Longyearbyen",
              "Asia/Aden",
              "Asia/Almaty",
              "Asia/Amman",
              "Asia/Anadyr",
              "Asia/Aqtau",
              "Asia/Aqtobe",
              "Asia/Ashgabat",
              "Asia/Atyrau",
              "Asia/Baghdad",
              "Asia/Bahrain",
              "Asia/Baku",
              "Asia/Bangkok",
              "Asia/Barnaul",
              "Asia/Beirut",
              "Asia/Bishkek",
              "Asia/Brunei",
              "Asia/Calcutta",
              "Asia/Chita",
              "Asia/Choibalsan",
              "Asia/Colombo",
              "Asia/Damascus",
              "Asia/Dhaka",
              "Asia/Dili",
              "Asia/Dubai",
              "Asia/Dushanbe",
              "Asia/Famagusta",
              "Asia/Gaza",
              "Asia/Hebron",
              "Asia/Hong_Kong",
              "Asia/Hovd",
              "Asia/Irkutsk",
              "Asia/Jakarta",
              "Asia/Jayapura",
              "Asia/Jerusalem",
              "Asia/Kabul",
              "Asia/Kamchatka",
              "Asia/Karachi",
              "Asia/Katmandu",
              "Asia/Khandyga",
              "Asia/Krasnoyarsk",
              "Asia/Kuala_Lumpur",
              "Asia/Kuching",
              "Asia/Kuwait",
              "Asia/Macau",
              "Asia/Magadan",
              "Asia/Makassar",
              "Asia/Manila",
              "Asia/Muscat",
              "Asia/Nicosia",
              "Asia/Novokuznetsk",
              "Asia/Novosibirsk",
              "Asia/Omsk",
              "Asia/Oral",
              "Asia/Phnom_Penh",
              "Asia/Pontianak",
              "Asia/Pyongyang",
              "Asia/Qatar",
              "Asia/Qostanay",
              "Asia/Qyzylorda",
              "Asia/Rangoon",
              "Asia/Riyadh",
              "Asia/Saigon",
              "Asia/Sakhalin",
              "Asia/Samarkand",
              "Asia/Seoul",
              "Asia/Shanghai",
              "Asia/Singapore",
              "Asia/Srednekolymsk",
              "Asia/Taipei",
              "Asia/Tashkent",
              "Asia/Tbilisi",
              "Asia/Tehran",
              "Asia/Thimphu",
              "Asia/Tokyo",
              "Asia/Tomsk",
              "Asia/Ulaanbaatar",
              "Asia/Urumqi",
              "Asia/Ust-Nera",
              "Asia/Vientiane",
              "Asia/Vladivostok",
              "Asia/Yakutsk",
              "Asia/Yekaterinburg",
              "Asia/Yerevan",
              "Atlantic/Azores",
              "Atlantic/Bermuda",
              "Atlantic/Canary",
              "Atlantic/Cape_Verde",
              "Atlantic/Faeroe",
              "Atlantic/Madeira",
              "Atlantic/Reykjavik",
              "Atlantic/South_Georgia",
              "Atlantic/St_Helena",
              "Atlantic/Stanley",
              "Australia/Adelaide",
              "Australia/Brisbane",
              "Australia/Broken_Hill",
              "Australia/Darwin",
              "Australia/Eucla",
              "Australia/Hobart",
              "Australia/Lindeman",
              "Australia/Lord_Howe",
              "Australia/Melbourne",
              "Australia/Perth",
              "Australia/Sydney",
              "Europe/Amsterdam",
              "Europe/Andorra",
              "Europe/Astrakhan",
              "Europe/Athens",
              "Europe/Belgrade",
              "Europe/Berlin",
              "Europe/Bratislava",
              "Europe/Brussels",
              "Europe/Bucharest",
              "Europe/Budapest",
              "Europe/Busingen",
              "Europe/Chisinau",
              "Europe/Copenhagen",
              "Europe/Dublin",
              "Europe/Gibraltar",
              "Europe/Guernsey",
              "Europe/Helsinki",
              "Europe/Isle_of_Man",
              "Europe/Istanbul",
              "Europe/Jersey",
              "Europe/Kaliningrad",
              "Europe/Kiev",
              "Europe/Kirov",
              "Europe/Lisbon",
              "Europe/Ljubljana",
              "Europe/London",
              "Europe/Luxembourg",
              "Europe/Madrid",
              "Europe/Malta",
              "Europe/Mariehamn",
              "Europe/Minsk",
              "Europe/Monaco",
              "Europe/Moscow",
              "Europe/Oslo",
              "Europe/Paris",
              "Europe/Podgorica",
              "Europe/Prague",
              "Europe/Riga",
              "Europe/Rome",
              "Europe/Samara",
              "Europe/San_Marino",
              "Europe/Sarajevo",
              "Europe/Saratov",
              "Europe/Simferopol",
              "Europe/Skopje",
              "Europe/Sofia",
              "Europe/Stockholm",
              "Europe/Tallinn",
              "Europe/Tirane",
              "Europe/Ulyanovsk",
              "Europe/Vaduz",
              "Europe/Vatican",
              "Europe/Vienna",
              "Europe/Vilnius",
              "Europe/Volgograd",
              "Europe/Warsaw",
              "Europe/Zagreb",
              "Europe/Zurich",
              "Indian/Antananarivo",
              "Indian/Chagos",
              "Indian/Christmas",
              "Indian/Cocos",
              "Indian/Comoro",
              "Indian/Kerguelen",
              "Indian/Mahe",
              "Indian/Maldives",
              "Indian/Mauritius",
              "Indian/Mayotte",
              "Indian/Reunion",
              "Pacific/Apia",
              "Pacific/Auckland",
              "Pacific/Bougainville",
              "Pacific/Chatham",
              "Pacific/Easter",
              "Pacific/Efate",
              "Pacific/Enderbury",
              "Pacific/Fakaofo",
              "Pacific/Fiji",
              "Pacific/Funafuti",
              "Pacific/Galapagos",
              "Pacific/Gambier",
              "Pacific/Guadalcanal",
              "Pacific/Guam",
              "Pacific/Honolulu",
              "Pacific/Kiritimati",
              "Pacific/Kosrae",
              "Pacific/Kwajalein",
              "Pacific/Majuro",
              "Pacific/Marquesas",
              "Pacific/Midway",
              "Pacific/Nauru",
              "Pacific/Niue",
              "Pacific/Norfolk",
              "Pacific/Noumea",
              "Pacific/Pago_Pago",
              "Pacific/Palau",
              "Pacific/Pitcairn",
              "Pacific/Ponape",
              "Pacific/Port_Moresby",
              "Pacific/Rarotonga",
              "Pacific/Saipan",
              "Pacific/Tahiti",
              "Pacific/Tarawa",
              "Pacific/Tongatapu",
              "Pacific/Truk",
              "Pacific/Wake",
              "Pacific/Wallis"
            ]
          },
          "account_holder": {
            "$ref": "#/components/schemas/AccountHolder"
          },
          "package": {
            "type": "string",
            "enum": ["none", "essential"],
            "description": "Package option",
            "default": "none"
          },
          "external_id": {
            "type": "string",
            "description": "Partner's unique identifier for this company",
            "maxLength": 64
          },
          "custom_data": {
            "type": "object",
            "description": "Partner's custom data for this company",
            "additionalProperties": true
          },
          "number_of_shares": {
            "type": "number",
            "description": "Custom number of shares (if package allows)",
            "minimum": 1
          },
          "par_value": {
            "type": "number",
            "description": "Custom par value (if package allows)",
            "minimum": 0
          },
          "private": {
            "type": "boolean",
            "description": "Whether the company is private",
            "default": false
          },
          "ein": {
            "type": "string",
            "description": "Optional EIN for C-CORP companies",
            "pattern": "^\\d{2}-\\d{7}$"
          },
          "directors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FormationPersonRequest"
            },
            "description": "Non-shareholder directors (C-CORP only)"
          },
          "officers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FormationPersonRequest"
            },
            "description": "Non-shareholder officers (C-CORP only)"
          }
        }
      },
      "FormationShareholderRequest": {
        "type": "object",
        "required": [
          "type",
          "number_of_shares",
          "email",
          "phone",
          "iso_code",
          "title",
          "address"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["individual", "organization"],
            "description": "Shareholder type"
          },
          "number_of_shares": {
            "type": "number",
            "minimum": 1,
            "description": "Number of shares"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address"
          },
          "phone": {
            "type": "string",
            "description": "Phone number"
          },
          "iso_code": {
            "type": "string",
            "description": "Country ISO code"
          },
          "title": {
            "type": "string",
            "description": "Position/title"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "is_main_incorporator": {
            "type": "boolean",
            "description": "Whether this shareholder is the main incorporator",
            "default": false
          },
          "is_director": {
            "type": "boolean",
            "description": "Whether this shareholder is also a director (C-CORP only)"
          },
          "is_officer": {
            "type": "boolean",
            "description": "Whether this shareholder is also an officer (C-CORP only)"
          },
          "first_name": {
            "type": "string",
            "description": "First name (required for individual shareholders)"
          },
          "last_name": {
            "type": "string",
            "description": "Last name (required for individual shareholders)"
          },
          "ssn": {
            "type": "string",
            "description": "SSN (either SSN or ITIN required for individual shareholders)"
          },
          "itin": {
            "type": "string",
            "description": "ITIN (either SSN or ITIN required for individual shareholders)"
          },
          "legal_entity_name": {
            "type": "string",
            "description": "Legal entity name (required for organization shareholders)"
          },
          "representative_name": {
            "type": "string",
            "description": "Representative name (required for organization shareholders)"
          },
          "ein": {
            "type": "string",
            "description": "EIN (required for organization shareholders)"
          }
        }
      },
      "FormationPersonRequest": {
        "type": "object",
        "required": ["first_name", "last_name", "title"],
        "properties": {
          "first_name": {
            "type": "string",
            "description": "First name"
          },
          "last_name": {
            "type": "string",
            "description": "Last name"
          },
          "title": {
            "type": "string",
            "description": "Position/title"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address"
          },
          "ssn": {
            "type": "string",
            "description": "SSN"
          },
          "phone": {
            "type": "string",
            "description": "Phone number"
          },
          "iso_code": {
            "type": "string",
            "description": "Country ISO code"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          }
        }
      },
      "AccountHolder": {
        "type": "object",
        "required": ["first_name", "last_name", "email", "phone"],
        "properties": {
          "first_name": {
            "type": "string",
            "description": "First name"
          },
          "last_name": {
            "type": "string",
            "description": "Last name"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address"
          },
          "phone": {
            "type": "string",
            "description": "Phone number"
          }
        }
      },
      "Address": {
        "type": "object",
        "required": ["address1", "city", "state", "zip", "country"],
        "properties": {
          "address1": {
            "type": "string",
            "description": "Address line 1"
          },
          "address2": {
            "type": "string",
            "description": "Address line 2"
          },
          "city": {
            "type": "string",
            "description": "City"
          },
          "state": {
            "type": "string",
            "description": "State"
          },
          "zip": {
            "type": "string",
            "description": "ZIP code"
          },
          "country": {
            "type": "string",
            "description": "Country code"
          }
        }
      },
      "FormationResponse": {
        "type": "object",
        "required": ["success", "message"],
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indicates if the request was successful"
          },
          "message": {
            "type": "string",
            "description": "Response message"
          },
          "data": {
            "type": "object",
            "nullable": true,
            "description": "Response data for successful requests",
            "properties": {
              "formation_id": {
                "type": "string",
                "description": "Unique formation process ID"
              },
              "company_id": {
                "type": "string",
                "description": "Created company ID"
              },
              "status": {
                "type": "string",
                "description": "Formation status",
                "enum": [
                  "shareholder_verification",
                  "in_progress",
                  "active",
                  "refunded",
                  "name_change",
                  "signature_requested",
                  "submitted_to_state",
                  "cancelled"
                ]
              },
              "external_id": {
                "type": "string",
                "description": "Partner's external ID for this formation"
              }
            }
          },
          "error": {
            "type": "object",
            "nullable": true,
            "description": "Error details for failed requests",
            "properties": {
              "code": {
                "type": "string",
                "description": "Error code",
                "enum": [
                  "API_KEY_REQUIRED",
                  "INVALID_API_KEY",
                  "ACCESS_DENIED",
                  "RATE_LIMIT_EXCEEDED",
                  "INVALID_REQUEST",
                  "VALIDATION_FAILED",
                  "COMPANY_NOT_FOUND",
                  "PACKAGE_NOT_FOUND",
                  "DUPLICATE_EXTERNAL_ID",
                  "INTERNAL_ERROR"
                ]
              },
              "details": {
                "type": "string",
                "description": "Additional error details"
              }
            }
          }
        }
      },
      "FormationStatusResponse": {
        "type": "object",
        "required": ["success", "company_id", "company_name", "status"],
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indicates if the request was successful"
          },
          "company_id": { "type": "string", "description": "Company ID" },
          "company_name": { "type": "string", "description": "Company name" },
          "status": {
            "type": "string",
            "description": "Formation status",
            "enum": [
              "shareholder_verification",
              "in_progress",
              "active",
              "refunded",
              "name_change",
              "signature_requested",
              "submitted_to_state",
              "cancelled"
            ]
          },
          "formation_date": {
            "type": "string",
            "description": "Company formation date",
            "nullable": true
          },
          "ein": {
            "type": "string",
            "description": "Employer Identification Number",
            "nullable": true
          },
          "external_id": {
            "type": "string",
            "description": "Partner's external ID",
            "nullable": true
          },
          "custom_data": {
            "type": "object",
            "description": "Partner's custom data for this company",
            "nullable": true
          },
          "type": {
            "type": "string",
            "description": "Company type",
            "enum": ["LLC", "C-CORP"],
            "nullable": true
          },
          "state": {
            "type": "string",
            "description": "State abbreviation",
            "enum": [
              "AL",
              "AK",
              "AZ",
              "AR",
              "CA",
              "CO",
              "CT",
              "DE",
              "FL",
              "GA",
              "HI",
              "ID",
              "IL",
              "IN",
              "IA",
              "KS",
              "KY",
              "LA",
              "ME",
              "MD",
              "MA",
              "MI",
              "MN",
              "MS",
              "MO",
              "MT",
              "NE",
              "NV",
              "NH",
              "NJ",
              "NM",
              "NY",
              "NC",
              "ND",
              "OH",
              "OK",
              "OR",
              "PA",
              "RI",
              "SC",
              "SD",
              "TN",
              "TX",
              "UT",
              "VT",
              "VA",
              "WA",
              "WV",
              "WI",
              "WY"
            ],
            "nullable": true
          },
          "country": {
            "type": "string",
            "description": "Country code",
            "nullable": true
          },
          "ending": {
            "type": "string",
            "description": "Company ending",
            "enum": ["LLC", "Inc.", "Corporation", "Corp."],
            "nullable": true
          },
          "industry": {
            "type": "string",
            "description": "Industry type",
            "nullable": true
          },
          "number_of_shares": {
            "type": "number",
            "description": "Number of shares",
            "nullable": true
          },
          "par_value": {
            "type": "number",
            "description": "Par value per share",
            "nullable": true
          },
          "is_company_private": {
            "type": "boolean",
            "description": "Whether the company is private"
          },
          "address": {
            "$ref": "#/components/schemas/Address",
            "description": "Company address",
            "nullable": true
          },
          "timezone": {
            "type": "string",
            "description": "Company timezone",
            "nullable": true
          },
          "shareholders": {
            "type": "array",
            "description": "List of shareholders",
            "items": { "$ref": "#/components/schemas/ShareholderResponse" },
            "nullable": true
          },
          "directors": {
            "type": "array",
            "description": "List of directors (C-CORP only)",
            "items": { "$ref": "#/components/schemas/PersonResponse" },
            "nullable": true
          },
          "officers": {
            "type": "array",
            "description": "List of officers (C-CORP only)",
            "items": { "$ref": "#/components/schemas/PersonResponse" },
            "nullable": true
          },
          "created_at": {
            "type": "integer",
            "description": "Creation timestamp",
            "nullable": true
          },
          "updated_at": {
            "type": "integer",
            "description": "Last update timestamp",
            "nullable": true
          },
          "federal_tax_filing": {
            "type": "integer",
            "description": "Federal tax filing timestamp",
            "nullable": true
          },
          "state_tax_filing": {
            "type": "integer",
            "description": "State tax filing timestamp",
            "nullable": true
          },
          "foreign_qualification_addresses": {
            "type": "array",
            "description": "Foreign qualification addresses",
            "items": { "$ref": "#/components/schemas/Address" },
            "nullable": true
          }
        }
      },
      "ShareholderResponse": {
        "type": "object",
        "properties": {
          "first_name": {
            "type": "string",
            "description": "First name"
          },
          "last_name": {
            "type": "string",
            "description": "Last name"
          },
          "title": {
            "type": "string",
            "description": "Position/title"
          },
          "number_of_shares": {
            "type": "number",
            "description": "Number of shares"
          },
          "email": {
            "type": "string",
            "description": "Email address"
          },
          "phone": {
            "type": "string",
            "description": "Phone number"
          },
          "iso_code": {
            "type": "string",
            "description": "Country ISO code"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "is_director": {
            "type": "boolean",
            "description": "Whether shareholder is also a director"
          },
          "is_main_incorporator": {
            "type": "boolean",
            "description": "Whether shareholder is the main incorporator"
          },
          "type": {
            "type": "string",
            "enum": ["individual", "organization"],
            "description": "Shareholder type"
          },
          "legal_entity_name": {
            "type": "string",
            "description": "Legal entity name (for organization shareholders)"
          },
          "representative_name": {
            "type": "string",
            "description": "Representative name (for organization shareholders)"
          }
        }
      },
      "PersonResponse": {
        "type": "object",
        "properties": {
          "first_name": {
            "type": "string",
            "description": "First name"
          },
          "last_name": {
            "type": "string",
            "description": "Last name"
          },
          "title": {
            "type": "string",
            "description": "Position/title"
          },
          "email": {
            "type": "string",
            "description": "Email address"
          },
          "phone": {
            "type": "string",
            "description": "Phone number"
          },
          "iso_code": {
            "type": "string",
            "description": "Country ISO code"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          }
        }
      },
      "FormationErrorResponse": {
        "type": "object",
        "required": ["success", "message", "error"],
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indicates if the request was successful",
            "example": false
          },
          "message": { "type": "string", "description": "Error message" },
          "error": {
            "type": "object",
            "nullable": true,
            "description": "Error details for failed requests",
            "properties": {
              "code": {
                "type": "string",
                "description": "Error code",
                "enum": [
                  "API_KEY_REQUIRED",
                  "INVALID_API_KEY",
                  "ACCESS_DENIED",
                  "RATE_LIMIT_EXCEEDED",
                  "INVALID_REQUEST",
                  "VALIDATION_FAILED",
                  "COMPANY_NOT_FOUND",
                  "PACKAGE_NOT_FOUND",
                  "DUPLICATE_EXTERNAL_ID",
                  "INTERNAL_ERROR",
                  "NOT_FOUND"
                ]
              },
              "details": {
                "type": "string",
                "description": "Additional error details"
              }
            }
          }
        }
      },
      "BadRequestError": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "message": {
            "type": "string",
            "example": "Invalid request data"
          },
          "data": {
            "type": "object",
            "nullable": true,
            "example": null
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "INVALID_REQUEST"
              },
              "details": {
                "type": "string",
                "example": "Field 'name' is required"
              }
            }
          }
        }
      },
      "UnauthorizedError": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "message": {
            "type": "string",
            "example": "API key is required"
          },
          "data": {
            "type": "object",
            "nullable": true,
            "example": null
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "API_KEY_REQUIRED"
              },
              "details": {
                "type": "string",
                "example": ""
              }
            }
          }
        }
      },
      "ForbiddenError": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "message": {
            "type": "string",
            "example": "Access denied"
          },
          "data": {
            "type": "object",
            "nullable": true,
            "example": null
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "ACCESS_DENIED"
              },
              "details": {
                "type": "string",
                "example": ""
              }
            }
          }
        }
      },
      "NotFoundError": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "message": {
            "type": "string",
            "example": "Company not found"
          },
          "data": {
            "type": "object",
            "nullable": true,
            "example": null
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "COMPANY_NOT_FOUND"
              },
              "details": {
                "type": "string",
                "example": ""
              }
            }
          }
        }
      },
      "ConflictError": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "message": {
            "type": "string",
            "example": "External ID already exists for this partner"
          },
          "data": {
            "type": "object",
            "nullable": true,
            "example": null
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "DUPLICATE_EXTERNAL_ID"
              },
              "details": {
                "type": "string",
                "example": ""
              }
            }
          }
        }
      },
      "RateLimitError": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "message": {
            "type": "string",
            "example": "Rate limit exceeded"
          },
          "data": {
            "type": "object",
            "nullable": true,
            "example": null
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "RATE_LIMIT_EXCEEDED"
              },
              "details": {
                "type": "string",
                "example": "Too many requests. Please try again later."
              }
            }
          }
        }
      },
      "InternalServerError": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "message": {
            "type": "string",
            "example": "Internal server error"
          },
          "data": {
            "type": "object",
            "nullable": true,
            "example": null
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "INTERNAL_ERROR"
              },
              "details": {
                "type": "string",
                "example": "An unexpected error occurred."
              }
            }
          }
        }
      },
      "ContactNotFoundError": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "message": {
            "type": "string",
            "example": "Contact not found"
          },
          "data": {
            "type": "object",
            "nullable": true,
            "example": null
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "NOT_FOUND"
              },
              "details": {
                "type": "string",
                "example": ""
              }
            }
          }
        }
      },
      "FixedAssetNotFoundError": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "message": {
            "type": "string",
            "example": "Fixed asset not found"
          },
          "data": {
            "type": "object",
            "nullable": true,
            "example": null
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "NOT_FOUND"
              },
              "details": {
                "type": "string",
                "example": ""
              }
            }
          }
        }
      },
      "PackageNotFoundError": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "message": {
            "type": "string",
            "example": "Package not found"
          },
          "data": {
            "type": "object",
            "nullable": true,
            "example": null
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "PACKAGE_NOT_FOUND"
              },
              "details": {
                "type": "string",
                "example": ""
              }
            }
          }
        }
      },
      "CreateContactRequest": {
        "type": "object",
        "required": ["type", "full_name", "email", "company_id"],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["customer", "vendor"],
            "description": "Contact type"
          },
          "status": {
            "type": "string",
            "description": "Contact status"
          },
          "full_name": {
            "type": "string",
            "description": "Full name of the contact"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address"
          },
          "description": {
            "type": "string",
            "description": "Contact description"
          },
          "cc_emails": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            },
            "description": "CC email addresses"
          },
          "bcc_emails": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            },
            "description": "BCC email addresses"
          },
          "billing": {
            "$ref": "#/components/schemas/ContactBilling"
          },
          "company_id": {
            "type": "string",
            "description": "Company ID"
          }
        }
      },
      "UpdateContactRequest": {
        "type": "object",
        "required": ["type", "full_name", "email", "company_id"],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["customer", "vendor"],
            "description": "Contact type"
          },
          "status": {
            "type": "string",
            "description": "Contact status"
          },
          "full_name": {
            "type": "string",
            "description": "Full name of the contact"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address"
          },
          "description": {
            "type": "string",
            "description": "Contact description"
          },
          "cc_emails": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            },
            "description": "CC email addresses"
          },
          "bcc_emails": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            },
            "description": "BCC email addresses"
          },
          "billing": {
            "$ref": "#/components/schemas/ContactBilling"
          },
          "company_id": {
            "type": "string",
            "description": "Company ID"
          }
        }
      },
      "ContactBilling": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "Billing email address"
          },
          "phone": {
            "type": "string",
            "description": "Phone number"
          },
          "phone_code": {
            "type": "string",
            "description": "Phone country code"
          },
          "iso_code": {
            "type": "string",
            "description": "Country ISO code"
          },
          "country": {
            "type": "string",
            "description": "Country name"
          },
          "address_1": {
            "type": "string",
            "description": "Address line 1"
          },
          "address_2": {
            "type": "string",
            "description": "Address line 2"
          },
          "postal_code": {
            "type": "string",
            "description": "Postal code"
          },
          "district": {
            "type": "string",
            "description": "District"
          },
          "state": {
            "type": "string",
            "description": "State"
          },
          "province": {
            "type": "string",
            "description": "Province"
          },
          "tax_id": {
            "type": "string",
            "description": "Tax ID"
          }
        }
      },
      "ContactResponse": {
        "type": "object",
        "example": {
          "id": "64b8f1a2e4b0c8d9f0123456",
          "created_at": 1640995200,
          "updated_at": 1640995200,
          "type": "customer",
          "status": "active",
          "full_name": "John Doe",
          "email": "john.doe@example.com",
          "description": "Primary contact for the company",
          "cc_emails": ["cc1@example.com", "cc2@example.com"],
          "bcc_emails": ["bcc1@example.com", "bcc2@example.com"],
          "billing": {
            "email": "billing@example.com",
            "phone": "1234567890",
            "phone_code": "+1",
            "iso_code": "US",
            "country": "United States",
            "address_1": "123 Main Street",
            "address_2": "Suite 100",
            "postal_code": "12345",
            "district": "Downtown",
            "state": "CA",
            "province": "California",
            "tax_id": "12-3456789"
          }
        },
        "properties": {
          "id": {
            "type": "string",
            "description": "Contact ID"
          },
          "created_at": {
            "type": "integer",
            "description": "Creation timestamp"
          },
          "updated_at": {
            "type": "integer",
            "description": "Last update timestamp"
          },
          "type": {
            "type": "string",
            "enum": ["customer", "vendor"],
            "description": "Contact type"
          },
          "status": {
            "type": "string",
            "description": "Contact status"
          },
          "full_name": {
            "type": "string",
            "description": "Full name"
          },
          "email": {
            "type": "string",
            "description": "Email address"
          },
          "description": {
            "type": "string",
            "description": "Description"
          },
          "cc_emails": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "CC email addresses"
          },
          "bcc_emails": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "BCC email addresses"
          },
          "billing": {
            "$ref": "#/components/schemas/ContactBilling"
          }
        }
      },
      "CreateFixedAssetRequest": {
        "type": "object",
        "required": [
          "title",
          "placed_in_service",
          "cost",
          "salvage_value",
          "business_use",
          "company_id"
        ],
        "properties": {
          "title": {
            "type": "string",
            "description": "Title/name of the fixed asset",
            "example": "Office Computer"
          },
          "placed_in_service": {
            "type": "integer",
            "description": "Timestamp when the asset was placed in service",
            "example": 1640995200
          },
          "cost": {
            "type": "number",
            "description": "Original cost of the fixed asset",
            "example": 1500.0
          },
          "salvage_value": {
            "type": "number",
            "description": "Estimated salvage value of the asset",
            "example": 150.0
          },
          "business_use": {
            "type": "number",
            "description": "Percentage of business use (0-100)",
            "example": 100.0
          },
          "company_id": {
            "type": "string",
            "description": "Company ID",
            "example": "64b8f1a2e4b0c8d9f0123456"
          }
        }
      },
      "UpdateFixedAssetRequest": {
        "type": "object",
        "required": [
          "title",
          "placed_in_service",
          "cost",
          "salvage_value",
          "business_use",
          "company_id"
        ],
        "properties": {
          "title": {
            "type": "string",
            "description": "Title/name of the fixed asset",
            "example": "Office Computer"
          },
          "placed_in_service": {
            "type": "integer",
            "description": "Timestamp when the asset was placed in service",
            "example": 1640995200
          },
          "cost": {
            "type": "number",
            "description": "Original cost of the fixed asset",
            "example": 1500.0
          },
          "salvage_value": {
            "type": "number",
            "description": "Estimated salvage value of the asset",
            "example": 150.0
          },
          "business_use": {
            "type": "number",
            "description": "Percentage of business use (0-100)",
            "example": 100.0
          },
          "company_id": {
            "type": "string",
            "description": "Company ID",
            "example": "64b8f1a2e4b0c8d9f0123456"
          }
        }
      },
      "FixedAssetResponse": {
        "type": "object",
        "example": {
          "id": "64b8f1a2e4b0c8d9f0123456",
          "created_at": 1640995200,
          "updated_at": 1640995200,
          "title": "Office Computer",
          "placed_in_service": 1640995200,
          "cost": 1500.00,
          "salvage_value": 150.00,
          "business_use": 100.0,
          "fixed_asset_number": 1,
          "fixed_asset_number_text": "AST-1"
        },
        "properties": {
          "id": {
            "type": "string",
            "description": "Fixed asset ID"
          },
          "created_at": {
            "type": "integer",
            "description": "Creation timestamp"
          },
          "updated_at": {
            "type": "integer",
            "description": "Last update timestamp"
          },
          "title": {
            "type": "string",
            "description": "Title/name of the fixed asset"
          },
          "placed_in_service": {
            "type": "integer",
            "description": "Timestamp when the asset was placed in service"
          },
          "cost": {
            "type": "number",
            "description": "Original cost of the fixed asset"
          },
          "salvage_value": {
            "type": "number",
            "description": "Estimated salvage value of the asset"
          },
          "business_use": {
            "type": "number",
            "description": "Percentage of business use (0-100)"
          },
          "fixed_asset_number": {
            "type": "integer",
            "description": "Auto-generated fixed asset number"
          },
          "fixed_asset_number_text": {
            "type": "string",
            "description": "Formatted fixed asset number text"
          }
        }
      },
      "FormationBaseResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indicates if the request was successful"
          },
          "message": {
            "type": "string",
            "description": "Response message"
          },
          "data": {
            "type": "object",
            "nullable": true,
            "description": "Response data for successful requests"
          }
        }
      },
      "ContactCreateResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Contact created successfully"
          },
          "data": {
            "$ref": "#/components/schemas/ContactResponse"
          }
        }
      },
      "ContactGetResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Contact retrieved successfully"
          },
          "data": {
            "$ref": "#/components/schemas/ContactResponse"
          }
        }
      },
      "ContactListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Contacts retrieved successfully"
          },
          "data": {
            "type": "object",
            "properties": {
              "contacts": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ContactResponse"
                }
              },
              "total": {
                "type": "integer",
                "description": "Total number of contacts"
              }
            }
          }
        }
      },
      "ContactUpdateResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Contact updated successfully"
          },
          "data": {
            "$ref": "#/components/schemas/ContactResponse"
          }
        }
      },
      "ContactDeleteResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Contact deleted successfully"
          },
          "data": {
            "type": "object",
            "nullable": true,
            "description": "No data returned for delete operation"
          }
        }
      },
      "FixedAssetCreateResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Fixed asset created successfully"
          },
          "data": {
            "$ref": "#/components/schemas/FixedAssetResponse"
          }
        }
      },
      "FixedAssetGetResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Fixed asset retrieved successfully"
          },
          "data": {
            "$ref": "#/components/schemas/FixedAssetResponse"
          }
        }
      },
      "FixedAssetListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Fixed assets retrieved successfully"
          },
          "data": {
            "type": "object",
            "properties": {
              "fixed_assets": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FixedAssetResponse"
                }
              },
              "total": {
                "type": "integer",
                "description": "Total number of fixed assets"
              }
            }
          }
        }
      },
      "FixedAssetUpdateResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Fixed asset updated successfully"
          },
          "data": {
            "$ref": "#/components/schemas/FixedAssetResponse"
          }
        }
      },
      "FixedAssetDeleteResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Fixed asset deleted successfully"
          },
          "data": {
            "type": "object",
            "nullable": true,
            "description": "No data returned for delete operation"
          }
        }
      }
    }
  },
  "x-rate-limits": {
    "formation_api": "Per API key rate limiting with per-company ID sub-limits for GET requests"
  },
  "x-authentication": {
    "formation_endpoints": "API Key via X-API-Key header or Bearer token"
  },
  "x-versioning": {
[...]
